{% extends 'base.html' %}
{% block content %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'includes/css/customize.css' %}">
    <!--- Navbar ----->
    <nav class="navbar navbar-dark top-nav">
        <div class="nav-icon">
            <p class="text-center white-text" style="line-height: 55px;">
                پارسیان گشت ایثار
            </p>
        </div>
        <div class="nav-list">
            <ul class="nav pull-right">
                <li class="nav-item active waves-effect waves-light">
                    <a href="javascript:;" id="close-menu" class="nav-link"><i class="fa fa-bars"></i></a>
                </li>
                <li class="nav-item active hidden-md-down waves-effect waves-light">
                    <a href="javascript:;" class="nav-link left-sidebar-trigger" data-mainelement="#colorlist"><i
                            class="fa fa-cogs"></i></a>
                </li>
            </ul>
            <ul class="nav pull-left tools_list">
                <li class="nav-item dropdown btn-group">
                    <a class="nav-link white-text waves-effect menu_profile dropdown-toggle" id="profile_box"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{% static 'includes/img/user8-128x128.png' %}"/>
                        <span>
                                        {{ user.get_username }}
                            </span>
                    </a>
                    <div class="dropdown-menu dropdown profile_box" aria-labelledby="profile_box">
                        <div class="panel">
                            <center>
                                <img src="{% static 'includes/img/user8-128x128.png' %}"/>
                                <br/>
                                <p class="white-text profile_name"> {{ user.get_username }}</p>
                                <p class="white-text profile_date">
                                    {#                                    ۱۲ آذر ۱۳۹۵#}
                                </p>
                            </center>
                        </div>
                        <div class="panel" style="text-align: center;">
                            <a href="/logout" class="btn pull-left waves-effect green white-text"><i
                                    class="fa fa-power-off"></i></a>
                        </div>
                    </div>
                </li>
                <li class="nav-item ">
                    {#                    dropdown btn-group#}
                    {#                    <a class="nav-link dropdown-toggle waves-effect white-text" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
                    {#                        <span class="badge orange white-text"></span>#}
                    {#                        <i class="fa fa-bell"></i>#}
                    {#                    </a>#}
                    {#                    <ul class="dropdown-menu dropdown white dropdown-menu-list dropdown-menu-center " aria-labelledby="notification">#}
                    {#                        <li class="header">اعلانات</li>#}
                    {##}
                    {#                        <li class="footer"><a href="#">مشاهده همه</a></li>#}
                    {#                    </ul>#}
                    <a class="btn purple" onClick="javascript:history.go(-1);">صفحه قبل</a>

                </li>


            </ul>
        </div>
    </nav>

    <!----- Main SideBar ------>
    <aside class="sidebar z-depth-1">
        <div class="profile btn-group">
            <img src="{% static 'includes/img/user8-128x128.png' %}"/>
            <div class="btn-group">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user.get_username }}
                </a>
                <div class="dropdown-menu dropdown-menu-right" id="profile_options">
                    {#                    <a class="dropdown-item waves-effect" href="#">#}
                    {#                        <i class="fa fa-user"></i>#}
                    {#                        پروفایل#}
                    {#                    </a>#}
                    <a class="dropdown-item waves-effect" href="/factor/">
                        <i class="fa fa-cogs"></i>
                        تنظیمات
                    </a>
                    {#                    <a class="dropdown-item waves-effect" href="#">#}
                    {#                        <i class="fa fa-group"></i>#}
                    {#                        طرفداران#}
                    {#                    </a>#}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item waves-effect" href="/logout">
                        <i class="fa fa-power-off"></i>
                        خروج
                    </a>
                </div>
            </div>
        </div>
        <ul class="accordion" id="accordion" role="tablist" aria-multiselectable="false">
            <li class="header">منو اصلی</li>
            <li class="sidebar-link">
                <a class="waves-effect" href="{% url 'main' %}">
                    <i class="fa fa-dashboard"></i>
                    داشبورد

                </a>

            </li>
            {% if request.user.is_staff %}
                {#            <li class="sidebar-link">#}
                {#                <a class="waves-effect" href="{% url 'accounting' %}">#}
                {#                    <i class="fa fa-dollar"></i>#}
                {#                    مالی#}
                {##}
                {#                </a>#}
                {##}
                {#            </li>#}
                <li class="sidebar-link">
                    {#                <a class="waves-effect" href="{% url 'driverindex' %}">#}
                    <a class="waves-effect" href="#">
                        <i class="fa fa-car"></i>
                        رانندگان
                        <span class="fa fa-angle-down"></span>
                    </a>
                    <ul class="collapse">

                        <li class="waves-effect "><a href="/selectterm/driverlist/">
                            لیست رانندگان</a></li>
                        <li class="waves-effect "><a href="/regdriver/">
                            فرم ثبت نام</a></li>
                        <li class="waves-effect "><a href="/newtermdriver/">
                            انتقال به ترم جدید</a></li>
                    </ul>

                </li>
                <li class="sidebar-link">
                    {#                <a class="waves-effect" href="{% url 'driverindex' %}">#}
                    <a class="waves-effect" href="#">
                        <i class="fa fa-user"></i>
                        مدیران
                        <span class="fa fa-angle-down"></span>
                    </a>
                    <ul class="collapse">

                        <li class="waves-effect "><a href="/servicemanagertermselect/">
                            مدیران سرویس</a></li>
                        <li class="waves-effect "><a href="/managertermselect/">
                            مدیران اجرایی</a></li>
                        {#                          <li class="waves-effect "><a href="{% url 'driverindex' %}">#}
                        {#                    انتقال به ترم جدید</a></li>#}
                    </ul>

                </li>
                <li class="sidebar-link">
                    {#                <a class="waves-effect" href="{% url 'driverindex' %}">#}
                    <a class="waves-effect" href="#">
                        <i class="fa fa-users"></i>
                        دانش آموزان
                        <span class="fa fa-angle-down"></span>
                    </a>
                    <ul class="collapse">

                        <li class="waves-effect "><a href="/studenttermselect/">
                            دانش آموزان هر ترم</a></li>
                        <li class="waves-effect "><a href="/studentuserlist/">
                            همه دانش آموزان</a></li>
                        {#                          <li class="waves-effect "><a href="{% url 'driverindex' %}">#}
                        {#                    انتقال به ترم جدید</a></li>#}
                    </ul>

                </li>
                <li class="sidebar-link">
                    {#                <a class="waves-effect" href="{% url 'driverindex' %}">#}
                    <a class="waves-effect" href="#">
                        <i class="fa fa-money"></i>
                        لیست مالی
                        <span class="fa fa-angle-down"></span>
                    </a>
                    <ul class="collapse">

                        <li class="waves-effect "><a href="/selecttermins/">
                            کانون ها</a></li>
                        <li class="waves-effect "><a href="/selectaccountingterm/">
                            راننده ها</a></li>
                        <li class="waves-effect "><a href="/selectaccountingmanagerserviceterm/">
                            مدیران سرویس</a></li>
                        <li class="waves-effect "><a href="/selectaccountingmanagerterm/">
                            مدیران اجرایی</a></li>
                        {#                          <li class="waves-effect "><a href="{% url 'driverindex' %}">#}
                        {#                    انتقال به ترم جدید</a></li>#}
                    </ul>

                </li>
                {#            <li class="sidebar-link">#}
                {#                <a class="waves-effect" href="{% url 'showstudent' %}">#}
                {#                    <i class="fa fa-users"></i>#}
                {#                   دانش آموزان#}
                {##}
                {#                </a>#}
                {##}
                {#            </li>#}
                <li class="sidebar-link">
                    <a class="waves-effect" href="/paymentgroupterm/">
                        <i class="fa fa-dollar"></i>
                        پرداخت گروهی

                    </a>

                </li>
                <li class="sidebar-link">
                    <a class="waves-effect" href="/termlist/">
                        <i class="fa fa-random"></i>
                        ترم ها

                    </a>

                </li>
                <li class="sidebar-link">
                    <a class="waves-effect" href="/institutelist/">
                        <i class="fa fa-home"></i>
                        کانون ها

                    </a>

                </li>
                <li class="sidebar-link">
                    <a class="waves-effect" href="/complaintlist/">
                        <i class="fa fa-file"></i>
                        شکایات

                    </a>

                </li>
                <li class="sidebar-link">
                    <a class="waves-effect" href="/masssms/">
                        <i class="fa fa-envelope"></i>
                        sms انبوه

                    </a>

                </li>
                <li class="sidebar-link">
                    <a class="waves-effect" href="/factor/">
                        <i class="fa fa-server"></i>
                        تنظیمات

                    </a>

                </li>
            {% endif %}
            {#             <li class="sidebar-link">#}
            {#                <a class="waves-effect" href="#">#}
            {#                    <i class="fa fa-dashboard"></i>#}
            {#                    داشبورد#}
            {#                    <span class="fa fa-angle-down"></span>#}
            {#                </a>#}
            {#                 <ul class="collapse">#}
            {##}
            {#                    <li class="waves-effect active"><a href="/">#}
            {#                        پنل مدیریت</a></li>#}
            {#                    <li class="waves-effect active"><a href="/">#}
            {#                        </a></li>#}
            {#                </ul>#}
            {##}
            {#            </li>#}

            {##}
            {#            <li class="sidebar-link ">#}
            {#                <a class="waves-effect" href="javascript:;">#}
            {#                    <i class="fa fa-th"></i>#}
            {#                    مدیریت#}
            {#                    <span class="fa fa-angle-down"></span>#}
            {#                </a>#}
            {##}
            {#                <ul class="collapse">#}
            {##}
            {#                    <li class="waves-effect active"><a href="/">#}
            {#                        پنل مدیریت</a></li>#}
            {#                    <li class="waves-effect active"><a href="/">#}
            {#                        </a></li>#}
            {#                </ul>#}
            {#            </li>#}


        </ul>

    </aside>

    <!----- Left SideBar ( Color List ) ------>
    <aside class="left-sidebar white" id="colorlist" style="    overflow-y: auto;">
        <ul class="list-group z-depth-0">
            <li class="list-group-item  waves-effect text-right" data-color="red-theme">
                <span class="red color-box border-r-3 z-depth-1"></span>
                قرمز
            </li>
            <li class="list-group-item waves-effect text-right" data-color="pink-theme">
                <span class="pink color-box border-r-3 z-depth-1"></span>
                صورتی
            </li>
            <li class="list-group-item waves-effect text-right" data-color="purple-theme">
                <span class="purple color-box border-r-3 z-depth-1"></span>
                بنفش
            </li>
            <li class="list-group-item waves-effect text-right" data-color="dark-purple-theme">
                <span class="deep-purple color-box border-r-3 z-depth-1"></span>
                بنفش پررنگ
            </li>
            <li class="list-group-item waves-effect text-right" data-color="indigo-theme">
                <span class="indigo color-box border-r-3 z-depth-1"></span>
                نیلی
            </li>
            <li class="list-group-item waves-effect text-right" data-color="blue-theme">
                <span class="blue color-box border-r-3 z-depth-1"></span>
                آبی
            </li>
            <li class="list-group-item active waves-effect text-right" data-color="light-blue-theme">
                <span class="light-blue color-box border-r-3 z-depth-1"></span>
                آبی روشن
            </li>
            <li class="list-group-item  waves-effect text-right" data-color="cyan-theme">
                <span class="cyan color-box border-r-3 z-depth-1"></span>
                فیروزه ای
            </li>
            <li class="list-group-item waves-effect text-right" data-color="teal-theme">
                <span class="teal color-box border-r-3 z-depth-1"></span>
                سبز خاکستری
            </li>
            <li class="list-group-item waves-effect text-right" data-color="green-theme">
                <span class="green color-box border-r-3 z-depth-1"></span>
                سبز
            </li>
            <li class="list-group-item waves-effect text-right" data-color="light-green-theme">
                <span class="light-green color-box border-r-3 z-depth-1"></span>
                سبز روشن
            </li>
            <li class="list-group-item waves-effect text-right" data-color="lime-theme">
                <span class="lime color-box border-r-3 z-depth-1"></span>
                لیمویی
            </li>
            <li class="list-group-item waves-effect text-right" data-color="yellow-theme">
                <span class="yellow color-box border-r-3 z-depth-1"></span>
                زرد
            </li>
            <li class="list-group-item waves-effect text-right" data-color="amber-theme">
                <span class="amber color-box border-r-3 z-depth-1"></span>
                کهربایی
            </li>
            <li class="list-group-item waves-effect text-right" data-color="orange-theme">
                <span class="orange color-box border-r-3 z-depth-1"></span>
                نارنجی
            </li>
            <li class="list-group-item waves-effect text-right" data-color="dark-orange-theme">
                <span class="deep-orange color-box border-r-3 z-depth-1"></span>
                نارنجی پررنگ
            </li>
            <li class="list-group-item waves-effect text-right" data-color="brown-theme">
                <span class="brown color-box border-r-3 z-depth-1"></span>
                قهوه ای
            </li>
            <li class="list-group-item waves-effect text-right" data-color="grey-theme">
                <span class="grey color-box border-r-3 z-depth-1"></span>
                خاکستری
            </li>
            <li class="list-group-item waves-effect text-right" data-color="blue-grey-theme">
                <span class="blue-grey color-box border-r-3 z-depth-1"></span>
                آبی خاکستری
            </li>
        </ul>
    </aside>
    {% block content2 %}
    {% endblock %}
{% endblock %}