{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="fa">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>پنل مدیریت پارسیان گشت</title>

    <!-----Material Design Bootstrap Files --->
    <link rel="stylesheet" href="{% static 'includes/mdb/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'includes/mdb/css/mdb.min.css' %}">
    <link rel="stylesheet" href="{% static 'includes/mdb/css/persian-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'includes/css/tableexport.css' %}">
{#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/TableExport/3.3.13/css/tableexport.css">#}
    <!------Font-awesome Fonts Css ----->
    <link rel="stylesheet" href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}">

    <!------Fonts-Material design ----->
    <link rel="stylesheet" href="{% static 'plugins/material-desing-icons/material-icons.css' %}">

    <link rel="stylesheet" href="{% static 'plugins/jquery-steps/jquery.steps.css' %}">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.2.7/css/select.dataTables.min.css">
    <!----Theme Styles --->
    <link rel="stylesheet" href="{% static 'includes/css/customize1.css' %}">
    <link rel="stylesheet" href="{% static 'includes/css/themes.css' %}">
    <link rel="stylesheet" href="{% static 'includes/css/style.css' %}">
    <script type="text/javascript" src="{% static 'includes/js/jquery-3.1.1.min.js' %}"></script>
    {{ form.media }}

</head>
<body class="blue-theme"
      style="background-image:url('{% static "includes/img/background.jpeg" %}');background-size:inherit;background-position:center center;">
{% block content %}
{% endblock %}

<!--- JQuery (necessary File) --->
{#    {{ STATIC_URL }}js/jquery.js#}

<!--Material Design Bootstrap  Js Files ---->
<script type="text/javascript" src="{% static 'includes/mdb/js/tether.min.js' %}"></script>

<script type="text/javascript" src="{% static 'includes/mdb/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'includes/mdb/js/mdb.min.js' %}"></script>


<!------ Theme Script --->
<script type="text/javascript" src="{% static 'includes/js/admin.js' %}"></script>

<script type="text/javascript" src="{% static 'plugins/jquery-validation/jquery.validate.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/jquery-validation/localization/messages_fa.js' %}"></script>


<script type="text/javascript" src="{% static 'plugins/jquery-steps/jquery.steps.min.js' %}"></script>
<script type="text/javascript" src="{% static 'includes/js/form-wizard.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/datatables/jquery.dataTables.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'includes/js/table-2.js' %}"></script>
<script type="text/javascript" src="{% static 'includes/js/xlsx.core.js' %}"></script>
<script type="text/javascript" src="{% static 'includes/js/FileSaver.js' %}"></script>
<script type="text/javascript" src="{% static 'includes/js/tableexport.js' %}"></script>
<script>$(".tablerep").tableExport({bootstrap: true,formats: ["xlsx"],fileName: "گزارش", position: "top" });</script>

</body>
<footer>
    <img src="https://images.fafait.net/uploads/pages/enamad2stars_1497420415.png" class="img-responsive"
         onclick="window.open(quot;https://trustseal.enamad.ir/Verify.aspx?id=69312&p=DUzKnmlCB290icKF&Popup toolbar=no, location=no, statusbar=no, menubar=no, scrollbars=1, resizable=0, width=580, height=600, top=30quot;))"
         alt="نماد اعتماد پارسیان گشت">
</footer>
</html>