{% extends 'admin.html' %}

{% load staticfiles payment_tags %}
{##}
{% block content2 %}
    {% load staticfiles %}


    <section class="main-container">
        <ol class="breadcrumb breadcrumb-main">
            <li class="breadcrumb-item"> پرداخت ها</li>
            <li class="breadcrumb-item active"> جدول</li>
        </ol>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-block">

                        <div class="card-text">
                            {#    <div dir="rtl" class="main-content">#}
                            {#        <div class="container-fluid">#}
                            {##}
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        لیست شکایات
                                    </h3>
                                </div>
                                <div class="panel-body table-container">
                                    {##}
                                    {#                    <table class="table table-striped">#}
                                    <table id="example1" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center">#</th>
                                            <th style="text-align: center">
                                                نام شکایت کننده
                                            </th>
                                            <th style="text-align: center">
                                                عنوان شکایت
                                            </th>
                                            <th style="text-align: center">
                                                 نمایش
                                            </th>
                                             <th style="text-align: center">
                                                 حذف
                                            </th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        {% for pro in profile %}
                                            <tr style="background-color: {% if payment.success %}#c5f5cc{% endif %}">
                                                <td style="text-align: center">{{ forloop.counter }}</td>
                                                <td style="text-align: center">
                                                    {% if pro.author.first_name %}
                                                        <label>{{ pro.author.first_name }} {{ pro.author.last_name }}</label>{% endif %}
                                                    <p>({{ pro.author.username }})</p>
                                                </td>
                                                <td style="text-align: center">
                                                    <h6>{{ pro.reason }}</h6>

                                                </td>
                                                <td style="text-align: center">
                                                            <a class="btn btn-primary" href="{% url "complaintshow" pk=pro.pk %}">نمایش</a>
                                               </td>
                                                <td style="text-align: center">
                                                            <a class="btn btn-danger" href="{% url "complaintdel" pk=pro.pk %}">حذف </a>
                                               </td>

                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>


{#                        <!--- JQuery (necessary File) --->#}
                        <script type="text/javascript" src="{% static 'plugins/jQuery/jQuery-2.1.4.min.js' %}"></script>

                        <!--Material Design Bootstrap  Js Files ---->
                        <script type="text/javascript" src="{% static 'includes/mdb/js/tether.min.js' %}"></script>

{#                        <script type="text/javascript" src="{% static 'includes/mdb/js/bootstrap.min.js' %}"></script>#}
{#                        <script type="text/javascript" src="{% static 'includes/mdb/js/mdb.min.js' %}"></script>#}
{##}
{##}
{#                        <!------ Theme Script --->#}
{#                        <script type="text/javascript" src="{% static 'includes/js/admin.js' %}"></script>#}


                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}
