{% extends 'admin.html' %}
{% load jformat %}

{% load staticfiles payment_tags %}
{##}
{% block content2 %}
    {% load staticfiles %}


    <section class="main-container">
        <ol class="breadcrumb breadcrumb-main">
            <li class="breadcrumb-item"> پرداخت ها</li>
            <li class="breadcrumb-item active"> جدول</li>
        </ol>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-block">

                        <div class="card-text">
                            {#    <div dir="rtl" class="main-content">#}
                            {#        <div class="container-fluid">#}
                            {##}
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        لیست رانندگان
                                    </h3>
                                </div>
                                <div class="panel-body table-container">
{#                                    <a class="btn pink waves-effect waves-light" href="/export_list/">گرفتن گزارش excel</a>#}
                                    {##}
                                    {#                    <table class="table table-striped">#}
{#                                    <a class="btn orange" onClick="javascript:history.go(-1);">صفحه قبل</a>#}

                                    <table id="example1" class="tablerep table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center">#</th>
                                            <th style="text-align: center">
                                                نام راننده
                                            </th>
{#                                            <th style="text-align: center">#}
{#                                                وضعیت#}
{#                                            </th>#}
                                            <th style="text-align: center">
                                                وضعیت
                                            </th>
                                            <th>تاریخ ثبت نام</th>
                                            <th style="text-align: center">
                                                توضیحات
                                            </th>
                                            <th>تاریخ انصراف</th>
                                            <th style="text-align: center">
                                                پروفایل
                                            </th>
                                            <th style="text-align: center">
                                                 لیست دانش آموزان
                                            </th>
                                             <th style="text-align: center">
                                                 حذف از ترم
                                            </th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        {% for pro in profile %}
                                            <tr style="background-color: {% if payment.success %}#c5f5cc{% endif %}">
                                                <td style="text-align: center">{{ forloop.counter }}</td>
                                                <td style="text-align: center">
                                                    {% if pro.user.first_name %}
                                                        <label>{{ pro.user.first_name }} {{ pro.user.last_name }}</label>{% endif %}
                                                    <p>({{ pro.user.username }})</p>
                                                </td>
                                                <td>{% if pro.state == "True" %}
                                                        فعال
                                                    {% endif %}
                                                    {% if pro.state == "Cancel" %}
                                                        انصراف
                                                    {% endif %}
                                                    {% if pro.state == "False" %}
                                                        غیر فعال
                                                    {% endif %}</td>
                                                <td>{% if pro.joindate %}{{ pro.joindate|jformat:"%Y/%m/%d "}}{% endif %}</td>
                                                <td>{% if pro.cancelcause %}{{ pro.cancelcause }}{% endif %}</td>
                                                <td>{% if pro.canceldate %}{{ pro.canceldate}}{% endif %}</td>
                                                <td style="text-align: center">
                                                    <a class="btn btn-success" href="{% url "driverprofile" pk=pro.user.pk %}">پروفایل</a>

                                                </td>
                                                <td style="text-align: center">
                                                            <a class="btn btn-primary" href="{% url "studentlist" pk=pro.user.pk slug=slug%}">لیست دانش آموزان</a>
                                               </td>
                                                <td style="text-align: center">
                                                            <a class="btn btn-danger" href="{% url "deldriverterm" pk=pro.user.pk slug=slug%}">حذف</a>
                                               </td>


                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>


{#                        <!--- JQuery (necessary File) --->#}
                        <script type="text/javascript" src="{% static 'plugins/jQuery/jQuery-2.1.4.min.js' %}"></script>

                        <!--Material Design Bootstrap  Js Files ---->
                        <script type="text/javascript" src="{% static 'includes/mdb/js/tether.min.js' %}"></script>

{#                        <script type="text/javascript" src="{% static 'includes/mdb/js/bootstrap.min.js' %}"></script>#}
{#                        <script type="text/javascript" src="{% static 'includes/mdb/js/mdb.min.js' %}"></script>#}
{##}
{##}
{#                        <!------ Theme Script --->#}
{#                        <script type="text/javascript" src="{% static 'includes/js/admin.js' %}"></script>#}


                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}
