{% extends 'admin2.html' %}

{% load staticfiles payment_tags %}
{##}
{% block content2 %}
    {% load staticfiles %}


    <section class="main-container">
        <ol class="breadcrumb breadcrumb-main">
            <li class="breadcrumb-item"> مسیرها</li>
            <li class="breadcrumb-item active"> جدول</li>
        </ol>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-block">

                        <div class="card-text">
                            {#    <div dir="rtl" class="main-content">#}
                            {#        <div class="container-fluid">#}
                            {##}
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        مسیرها
                                    </h3>
                                </div>
                                <div class="panel-body table-container">
                                    {##}
                                    {#                    <table class="table table-striped">#}
                                    <table id="example1" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center">#</th>
                                            <th style="text-align: center">
                                                نام مسیرها
                                            </th>
                                             <th style="text-align: center">
                                                جزییات
                                            </th>

                                        </tr>
                                        </thead>

                                        <tbody>
                                        {% for pro in history %}
                                            <tr style="background-color: {% if payment.success %}#c5f5cc{% endif %}">
                                                <td style="text-align: center">{{ forloop.counter }}</td>
                                                <td style="text-align: center">
{#                                                    {% if pro.author.first_name %}#}
{#                                                        <label>{{ pro.author.first_name }} {{ pro.author.last_name }}</label>{% endif %}#}
{#                                                    <p>({{ pro.user.username }})</p>#}
                                                    <p>{{ pro.destinationAdress }} , {{ pro.sourceAdress }}</p>
                                                </td>
                                                 <td style="text-align: center">
{#                                                    {% if pro.author.first_name %}#}
{#                                                        <label>{{ pro.author.first_name }} {{ pro.author.last_name }}</label>{% endif %}#}
{#                                                    <p>({{ pro.user.username }})</p>#}
                                                    <a class="btn cyan" href="{% url "detailways" pk=pro.pk %}" >جزییات</a>
                                                </td>
{#                                                <td style="text-align: center">#}
{#                                                    <a class="btn btn-danger" href="{% url "driverprofile" pk=pro.pk %}">پروفایل</a>#}
{##}
{#                                                </td>#}
{#                                                <td style="text-align: center">#}
{#                                                            <a class="btn btn-primary" href="{% url "studentlist" pk=pro.pk %}">لیست دانش آموزان</a>#}
{#                                               </td>#}


                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>


{#                        <!--- JQuery (necessary File) --->#}
                        <script type="text/javascript" src="{% static 'plugins/jQuery/jQuery-2.1.4.min.js' %}"></script>

                        <!--Material Design Bootstrap  Js Files ---->
{#                        <script type="text/javascript" src="{% static 'includes/mdb/js/tether.min.js' %}"></script>#}
{##}
{#                        <script type="text/javascript" src="{% static 'includes/mdb/js/bootstrap.min.js' %}"></script>#}
{#                        <script type="text/javascript" src="{% static 'includes/mdb/js/mdb.min.js' %}"></script>#}
{##}
{##}
{#                        <!------ Theme Script --->#}
{#                        <script type="text/javascript" src="{% static 'includes/js/admin.js' %}"></script>#}


                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}
