{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
    <!---- Container ----->
<br/>
<br/>
<br/>
    <section class="container">

        <div class="row">
            <div class="col-lg-6 pull-lg-3 col-sm-12 col-md-8 pull-md-2">
                <center>
                </center>
                <div class="card " style="background:rgba(255,255,255,0.5);">
                    <div class="card-block">
                        <form action="" method="post">
                            <p class="text-center">
                                ورود به پنل مدیریت پارسیان گشت
                            </p>
                            <img src="{% static 'includes/img/logo-lg.png' %}" class="logo" />

{#                            <div class="form-group md-form">#}
{#                                <i class="fa prefix fa-user"></i>#}
{#                                <input type="email" id="email" class="form-control" name="email">#}
{#                                <label for="email">ایمیل</label>#}
{#                            </div>#}
{#                            <div class="form-group md-form">#}
{#                                <i class="fa prefix fa-lock"></i>#}
{#                                <input type="password" id="password" class="form-control" name="password">#}
{#                                <label for="password">رمز عبور</label>#}
{#                            </div>#}
                            {% if form.errors %}
                <p>نام کاربری با رمز عبور اشتباه است. دوباره تلاش کنید</p>
                {% endif %}

                <form method="post" action="{% url 'login' %}" class="no-margin">
                    {% csrf_token %}

                     <fieldset>
                        <div class="form-group no-margin">
                            <label for="email">کد ملی یا نام کاربری:</label>

                            <div class="input-group input-group-lg">


                                    {{ form.username }}

                            </div>

                        </div>
                        <div class="form-group">
                            <label for="password">رمز عبور:</label>

                            <div class="input-group input-group-lg">


                                    {{ form.password }}

                            </div>

                        </div>
                    </fieldset>

                 <div class="form-group">
                                <center>

                    <input type="hidden" name="next" value="{{ next }}" />
                                    <button type="submit" class="btn cyan">ورود</button>
                                    <a href="{% url 'register' %}" class="btn pink">ثبت نام</a>
                                    <a href="{% url 'number' %}" class="btn green">فراموشی رمز</a>
                                </center>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}