{% extends 'admin.html' %}
{% block content2 %}
    {% load staticfiles %}
    <!---- Container ----->
    <section class="main-container">
        <ol class="breadcrumb breadcrumb-main">
            <li class="breadcrumb-item"> پنل مدیریت </li>
            <li class="breadcrumb-item active"> داشبورد </li>
        </ol>
        <div class="row">
{#            <section class="col-lg-3 col-sm-6 col-md-4">#}
{#                <div class="widget-large cyan">#}
{#                    <div class="widget-large-panel">#}
{#                        <div class="widget-large-icon">#}
{#                            <i class="fa fa-money"></i>#}
{#                            <span>#}
{#                                پرداخت ها#}
{#                            </span>#}
{#                        </div>#}
{#                        <div class="widget-body">#}
{#                            <p>                              لیست  پرداخت ها</p>#}
{#                            <span>####</span>#}
{#                            <div class="progress">#}
{#                                <div class="progress-bar cyan darken-2" role="progressbar" style="width: 89%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="widget-large-footer  waves-effect">#}
{#                        <a class="white-text" href="/view">#}
{#                            مشاهده همه#}
{##}
{#                            <i class="fa fa-angle-left"></i>#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
{#            </section>#}


            <section class="col-lg-3 col-sm-6 col-md-4">
                <div class="widget-large amber">
                    <div class="widget-large-panel">
                        <div class="widget-large-icon">
                            <i class="fa fa-group"></i>
                            <span>
                                رانندگان
                            </span>
                        </div>
                        <div class="widget-body">
                            <p>رانندگان</p>
                            <span>تعداد {{ drv }} </span>
                            <div class="progress">
                                <div class="progress-bar amber darken-2" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="widget-large-footer  waves-effect">
                        <a class="white-text" href="{% url 'driverindex' %}">
                            مشاهده همه

                            <i class="fa fa-angle-left"></i>
                        </a>
                    </div>
                </div>
            </section>

{#            <section class="col-lg-3 col-sm-6 col-md-4">#}
{#                <div class="widget-large pink">#}
{#                    <div class="widget-large-panel">#}
{#                        <div class="widget-large-icon">#}
{#                            <i class="fa fa-server"></i>#}
{#                            <span>#}
{#                                 تنظیمات#}
{#                            </span>#}
{#                        </div>#}
{#                        <div class="widget-body">#}
{#                            <p>تنظیمات کاربران</p>#}
{#                            <span>4</span>#}
{#                            <div class="progress">#}
{#                                <div class="progress-bar pink darken-2" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="widget-large-footer  waves-effect">#}
{#                        <a class="white-text" href="{% url 'factor' %}">#}
{#                            مشاهده همه#}
{##}
{#                            <i class="fa fa-angle-left"></i>#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
{#            </section>#}
{##}
            <section class="col-lg-3 col-sm-6 col-md-4">
                <div class="widget-large green">
                    <div class="widget-large-panel">
                        <div class="widget-large-icon">
                            <i class="fa fa-group"></i>
                            <span>
                                 دانش آموزان
                            </span>
                        </div>
                        <div class="widget-body">
                            <p>دانش آموزان</p>
                            <span> تعداد {{ std }}  </span>
                            <div class="progress">
                                <div class="progress-bar green darken-2" role="progressbar" style="width: 23%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="widget-large-footer  waves-effect">
                        <a class="white-text" href="{% url 'showstudent' %}">
                            مشاهده همه

                            <i class="fa fa-angle-left"></i>
                        </a>
                    </div>
                </div>
            </section>
{#        </div>#}
{#        <div class="row">#}
{#            <section class="col-lg-3 col-sm-6 col-md-4">#}
{#                <div class="widget-large">#}
{#                    <div class="widget-large-panel">#}
{#                        <div class="widget-large-icon red-text">#}
{#                            <i class="fa fa-shopping-bag"></i>#}
{#                            <span>#}
{#                                واریز ها#}
{#                            </span>#}
{#                        </div>#}
{#                        <div class="widget-body red-text">#}
{#                            <p>لیست واریز ها</p>#}
{#                            <span>۸۹</span>#}
{#                            <div class="progress">#}
{#                                <div class="progress-bar red darken-2" role="progressbar" style="width: 89%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="widget-large-footer red waves-effect">#}
{#                        <a class="white-text" href="#">#}
{#                            مشاهده همه#}
{##}
{#                            <i class="fa fa-angle-left"></i>#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
{#            </section>#}
{##}
{##}
{#            <section class="col-lg-3 col-sm-6 col-md-4">#}
{#                <div class="widget-large ">#}
{#                    <div class="widget-large-panel">#}
{#                        <div class="widget-large-icon indigo-text">#}
{#                            <i class="fa fa-user"></i>#}
{#                            <span>#}
{#                                کاربران#}
{#                            </span>#}
{#                        </div>#}
{#                        <div class="widget-body indigo-text">#}
{#                            <p> کاربران</p>#}
{#                            <span>۳۰</span>#}
{#                            <div class="progress">#}
{#                                <div class="progress-bar indigo darken-2" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="widget-large-footer indigo waves-effect">#}
{#                        <a class="white-text" href="/admin/registeration/profile/?p=0">#}
{#                            مشاهده همه#}
{##}
{#                            <i class="fa fa-angle-left"></i>#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
{#            </section>#}
{##}
{#            <section class="col-lg-3 col-sm-6 col-md-4">#}
{#                <div class="widget-large ">#}
{#                    <div class="widget-large-panel">#}
{#                        <div class="widget-large-icon purple-text">#}
{#                            <i class="fa fa-server"></i>#}
{#                            <span>#}
{#                                SMS#}
{#                            </span>#}
{#                        </div>#}
{#                        <div class="widget-body purple-text">#}
{#                            <p> SMS انبوه</p>#}
{#                            <span>--</span>#}
{#                            <div class="progress">#}
{#                                <div class="progress-bar purple darken-2" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="widget-large-footer purple waves-effect">#}
{#                        <a class="white-text" href="{% url 'masssms' %}">#}
{#                            ارسال#}
{##}
{#                            <i class="fa fa-angle-left"></i>#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
{#            </section>#}
{##}
{#            <section class="col-lg-3 col-sm-6 col-md-4">#}
{#                <div class="widget-large">#}
{#                    <div class="widget-large-panel">#}
{#                        <div class="widget-large-icon brown-text">#}
{#                            <i class="fa fa-random"></i>#}
{#                            <span>#}
{#                                 مسیر ها#}
{#                            </span>#}
{#                        </div>#}
{#                        <div class="widget-body brown-text">#}
{#                            <p>مسیر ها</p>#}
{#                            <span>۲۳</span>#}
{#                            <div class="progress">#}
{#                                <div class="progress-bar brown darken-2" role="progressbar" style="width: 23%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="widget-large-footer brown waves-effect">#}
{#                        <a class="white-text" href="#">#}
{#                            مشاهده همه#}
{##}
{#                            <i class="fa fa-angle-left"></i>#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
{#            </section>#}
{#        </div>#}
{#        <div class="row">#}
{#            <section class="col-lg-3 col-sm-6 col-md-4">#}
{#                <div class="widget-large teal">#}
{#                    <div class="widget-large-panel ">#}
{#                        <div class="widget-large-icon">#}
{#                            <i class="fa fa-shopping-bag"></i>#}
{#                            <span>#}
{#                                فروش ها#}
{#                            </span>#}
{#                        </div>#}
{#                        <div class="widget-body">#}
{#                            <p>افزایش فروش</p>#}
{#                            <span>۸۹٪</span>#}
{#                            <div class="progress">#}
{#                                <div class="progress-bar teal darken-2" role="progressbar" style="width: 89%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="widget-large-footer white teal-text waves-effect">#}
{#                        <a href="#">#}
{#                            مشاهده همه#}
{##}
{#                            <i class="fa fa-angle-left"></i>#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
{#            </section>#}
{##}
{##}
{#            <section class="col-lg-3 col-sm-6 col-md-4">#}
{#                <div class="widget-large deep-purple">#}
{#                    <div class="widget-large-panel">#}
{#                        <div class="widget-large-icon">#}
{#                            <i class="fa fa-user"></i>#}
{#                            <span>#}
{#                                مدیران#}
{#                            </span>#}
{#                        </div>#}
{#                        <div class="widget-body">#}
{#                            <p>مدیران</p>#}
{#                            <span>{{ man }}</span>#}
{#                            <div class="progress">#}
{#                                <div class="progress-bar deep-purple darken-2" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="widget-large-footer white indigo-text waves-effect">#}
{#                        <a href="{% url 'managerlist' %}">#}
{#                            مشاهده همه#}
{##}
{#                            <i class="fa fa-angle-left"></i>#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
{#            </section>#}


{#            <section class="col-lg-3 col-sm-6 col-md-4">#}
{#                <div class="widget-large lime">#}
{#                    <div class="widget-large-panel">#}
{#                        <div class="widget-large-icon">#}
{#                            <i class="fa fa-server"></i>#}
{#                            <span>#}
{#                                سرور ها#}
{#                            </span>#}
{#                        </div>#}
{#                        <div class="widget-body">#}
{#                            <p>ترافیک پردازنده</p>#}
{#                            <span>۵۰٪</span>#}
{#                            <div class="progress">#}
{#                                <div class="progress-bar lime darken-2" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="widget-large-footer lime-text white waves-effect">#}
{#                        <a href="#">#}
{#                            مشاهده همه#}
{##}
{#                            <i class="fa fa-angle-left"></i>#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
{#            </section>#}
{##}
{#            <section class="col-lg-3 col-sm-6 col-md-4">#}
{#                <div class="widget-large blue-grey">#}
{#                    <div class="widget-large-panel">#}
{#                        <div class="widget-large-icon">#}
{#                            <i class="fa fa-random"></i>#}
{#                            <span>#}
{#                                 تراکنش ها#}
{#                            </span>#}
{#                        </div>#}
{#                        <div class="widget-body">#}
{#                            <p>کاهش تراکنش ها</p>#}
{#                            <span>۲۳٪</span>#}
{#                            <div class="progress">#}
{#                                <div class="progress-bar blue-grey darken-2" role="progressbar" style="width: 23%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="widget-large-footer blue-grey-text white waves-effect">#}
{#                        <a  href="#">#}
{#                            مشاهده همه#}
{##}
{#                            <i class="fa fa-angle-left"></i>#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
{#            </section>#}
        </div>
    </section>
{% endblock %}