{% extends 'admin.html' %}
{% block content2 %}
{% load staticfiles %}
    <!--- Navbar ----->
    <nav class="navbar navbar-dark top-nav">
        <div class="nav-icon">
            <p class="text-center white-text" style="line-height: 55px;">
پارسیان گشت ایثار            </p>
        </div>
        <div class="nav-list">
            <ul class="nav pull-right">
{#                <li class="nav-item active waves-effect waves-light">#}
{#                    <a href="javascript:;" id="close-menu" class="nav-link"><i class="fa fa-bars"></i></a>#}
{#                </li>#}
                <li class="nav-item active hidden-md-down waves-effect waves-light">
                    <a href="javascript:;" class="nav-link left-sidebar-trigger" data-mainelement="#colorlist"><i class="fa fa-cogs"></i></a>
                </li>
            </ul>
        </div>
    </nav>

    <!----- Main SideBar ------>


    <!----- Left SideBar ( Color List ) ------>
    <aside class="left-sidebar white" id="colorlist" style="    overflow-y: auto;">
        <ul class="list-group z-depth-0">
            <li class="list-group-item  waves-effect text-right" data-color="red-theme">
                <span class="red color-box border-r-3 z-depth-1"></span>
                قرمز
            </li>
            <li class="list-group-item waves-effect text-right" data-color="pink-theme">
                <span class="pink color-box border-r-3 z-depth-1"></span>
                صورتی
            </li>
            <li class="list-group-item waves-effect text-right" data-color="purple-theme">
                <span class="purple color-box border-r-3 z-depth-1"></span>
                بنفش
            </li>
            <li class="list-group-item waves-effect text-right" data-color="dark-purple-theme">
                <span class="deep-purple color-box border-r-3 z-depth-1"></span>
                بنفش پررنگ
            </li>
            <li class="list-group-item waves-effect text-right" data-color="indigo-theme">
                <span class="indigo color-box border-r-3 z-depth-1"></span>
                نیلی
            </li>
            <li class="list-group-item active waves-effect text-right" data-color="blue-theme">
                <span class="blue color-box border-r-3 z-depth-1"></span>
                آبی
            </li>
            <li class="list-group-item waves-effect text-right" data-color="light-blue-theme">
                <span class="light-blue color-box border-r-3 z-depth-1"></span>
                آبی روشن
            </li>
            <li class="list-group-item  waves-effect text-right" data-color="cyan-theme">
                <span class="cyan color-box border-r-3 z-depth-1"></span>
                فیروزه ای
            </li>
            <li class="list-group-item waves-effect text-right" data-color="teal-theme">
                <span class="teal color-box border-r-3 z-depth-1"></span>
                سبز خاکستری
            </li>
            <li class="list-group-item waves-effect text-right" data-color="green-theme">
                <span class="green color-box border-r-3 z-depth-1"></span>
                سبز
            </li>
            <li class="list-group-item waves-effect text-right" data-color="light-green-theme">
                <span class="light-green color-box border-r-3 z-depth-1"></span>
                سبز روشن
            </li>
            <li class="list-group-item waves-effect text-right" data-color="lime-theme">
                <span class="lime color-box border-r-3 z-depth-1"></span>
                لیمویی
            </li>
            <li class="list-group-item waves-effect text-right" data-color="yellow-theme">
                <span class="yellow color-box border-r-3 z-depth-1"></span>
                زرد
            </li>
            <li class="list-group-item waves-effect text-right" data-color="amber-theme">
                <span class="amber color-box border-r-3 z-depth-1"></span>
                کهربایی
            </li>
            <li class="list-group-item waves-effect text-right" data-color="orange-theme">
                <span class="orange color-box border-r-3 z-depth-1"></span>
                نارنجی
            </li>
            <li class="list-group-item waves-effect text-right" data-color="dark-orange-theme">
                <span class="deep-orange color-box border-r-3 z-depth-1"></span>
                نارنجی پررنگ
            </li>
            <li class="list-group-item waves-effect text-right" data-color="brown-theme">
                <span class="brown color-box border-r-3 z-depth-1"></span>
                قهوه ای
            </li>
            <li class="list-group-item waves-effect text-right" data-color="grey-theme">
                <span class="grey color-box border-r-3 z-depth-1"></span>
                خاکستری
            </li>
            <li class="list-group-item waves-effect text-right" data-color="blue-grey-theme">
                <span class="blue-grey color-box border-r-3 z-depth-1"></span>
                آبی خاکستری
            </li>
        </ul>
    </aside>

    <!---- Container ----->
    <section class="main-container">
        <ol class="breadcrumb breadcrumb-main">
            <li class="breadcrumb-item">فرم</li>
            <li class="breadcrumb-item active"> فرم های ثبت نام</li>
        </ol>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-block">
                        <div class="card-title">
                            ثبت نام                         </div>
                        <hr />
                        <div class="card-text">
                            <div id="wizard_horizontal">
                                <h2> گام اول </h2>
                                <section>

                                        گام اول ثبت نام

لطفا اطلاعات اولیه خود را جهت  بهره مندی از سرویس مدارس وارد نمایید


                                    <legend> اطلاعات شخصی </legend>



    <br>                            {{ form }}
{#                                    <label for="name">نام  *</label>#}
{#                                    <input id="name" name="Name" type="text" >#}
{#                                    <label for="family">نام خانوادگی *</label>#}
{#                                    <input id="family" name="family" type="text" class="card-text">#}
{#                                    <label for="code meli">کدملی *</label>#}
{#                                    <input id="code meli" name="code meli" type="number" class="required">#}
{#                                    <label for="phone">شماره تماس *</label>#}
{#                                    <input id="phone" name="phone" type="number" class="required">#}
{#                                    <label for="e-phone">شماره تماس اضطراری*</label>#}
{#                                    <input id="e-phone" name="e-phone" type="number" class="required">#}
{#                                    <label for="destination-address">آدرس کانون *</label>#}
{#                                    <input id="destination-address" name="destination-address" type="text" class="required">#}
{#                                    <label for="source-address">آدرس منزل *</label>#}
{#                                    <input id="source-address" name="source-adress" type="text" class="required">#}
{#                                    <label for="confirm-2">روز های برگزاری کلاس *</label>#}
{#                                    <input id="confirm-2" name="confirm" type="text" class="required">#}
{#                                    <label for="userName-2">ساعات برگزاری کلاس *</label>#}
{#                                    <input id="userName-2" name="userName" type="text" class="required">#}
</br>
</h1>




                                </section>

                                <h2 href="#"> گام دوم </h2>
                                <section>
                                    <p>
لطفا مبلغ سرویس  کانون خود را وارد نمایید                                         <br />
                                    </p>
                                </section>

                                <h2> گام سوم </h2>
                                <section>
                                    <p>
                                        گام سوم تکمیل پروفایل
                                        <br />
                                        یک متن آزمایشی است. یک متن آزمایشی است. یک متن آزمایشی است. یک متن آزمایشی است. یک متن آزمایشی است. یک متن آزمایشی است. یک متن آزمایشی است. یک متن آزمایشی است. یک متن آزمایشی است. یک متن آزمایشی است. یک متن آزمایشی است. یک متن آزمایشی است. یک متن آزمایشی است. یک متن آزمایشی است. یک متن آزمایشی است. یک متن آزمایشی است. یک متن آزمایشی است. یک متن آزمایشی است.
                                    </p>
                                </section>

                                <h2> گام چهارم </h2>
                                <section>
                                    <p>
                                        گام آخر موفقیت ثبت نام
                                        <br />
                                        یک متن آزمایشی است. یک متن آزمایشی است. یک متن آزمایشی است. یک متن آزمایشی است. یک متن آزمایشی است. یک متن آزمایشی است. یک متن آزمایشی است. یک متن آزمایشی است. یک متن آزمایشی است. یک متن آزمایشی است. یک متن آزمایشی است. یک متن آزمایشی است. یک متن آزمایشی است. یک متن آزمایشی است. یک متن آزمایشی است.
                                    </p>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-block">
                        <div class="card-title">


                                    <input id="acceptTerms-2" name="acceptTerms" type="checkbox" class="required"> <label for="acceptTerms-2">من قوانین و شرایط را قبول دارم.</label>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>


{% endblock %}