{% extends 'admin2.html' %}
{% block content2 %}
    {% load staticfiles %}
    <!--- Navbar ----->
{#    <nav class="navbar navbar-dark top-nav">#}
{#        <div class="nav-icon">#}
{#            <p class="text-center white-text" style="line-height: 55px;">#}
{#                پارسیان گشت ایثار </p>#}
{#        </div>#}
{#        <div class="nav-list">#}
{#            <ul class="nav pull-right">#}
{##}
                {#                <li class="nav-item active waves-effect waves-light">#}
                {#                    <a href="javascript:;" id="close-menu" class="nav-link"><i class="fa fa-bars"></i></a>#}
                {#                </li>#}
{#                <li class="nav-item active hidden-md-down waves-effect waves-light">#}
{#                    <a href="javascript:;" class="nav-link left-sidebar-trigger" data-mainelement="#colorlist"><i#}
{#                            class="fa fa-cogs"></i></a>#}
{#                </li>#}
{#                <a href="/logout" style="position:absolute; left:80px; top:8px;"#}
{#                   class="btn pull-left waves-effect red white-text "><i class="fa fa-power-off"></i></a>#}
{#            </ul>#}
{#        </div>#}
{##}
{#    </nav>#}

    <!----- Main SideBar ------>


    <!----- Left SideBar ( Color List ) ------>
    <aside class="left-sidebar white" id="colorlist" style="    overflow-y: auto;">
        <ul class="list-group z-depth-0">
            <li class="list-group-item  waves-effect text-right" data-color="red-theme">
                <span class="red color-box border-r-3 z-depth-1"></span>
                قرمز
            </li>
            <li class="list-group-item waves-effect text-right" data-color="pink-theme">
                <span class="pink color-box border-r-3 z-depth-1"></span>
                صورتی
            </li>
            <li class="list-group-item waves-effect text-right" data-color="purple-theme">
                <span class="purple color-box border-r-3 z-depth-1"></span>
                بنفش
            </li>
            <li class="list-group-item waves-effect text-right" data-color="dark-purple-theme">
                <span class="deep-purple color-box border-r-3 z-depth-1"></span>
                بنفش پررنگ
            </li>
            <li class="list-group-item waves-effect text-right" data-color="indigo-theme">
                <span class="indigo color-box border-r-3 z-depth-1"></span>
                نیلی
            </li>
            <li class="list-group-item active waves-effect text-right" data-color="blue-theme">
                <span class="blue color-box border-r-3 z-depth-1"></span>
                آبی
            </li>
            <li class="list-group-item waves-effect text-right" data-color="light-blue-theme">
                <span class="light-blue color-box border-r-3 z-depth-1"></span>
                آبی روشن
            </li>
            <li class="list-group-item  waves-effect text-right" data-color="cyan-theme">
                <span class="cyan color-box border-r-3 z-depth-1"></span>
                فیروزه ای
            </li>
            <li class="list-group-item waves-effect text-right" data-color="teal-theme">
                <span class="teal color-box border-r-3 z-depth-1"></span>
                سبز خاکستری
            </li>
            <li class="list-group-item waves-effect text-right" data-color="green-theme">
                <span class="green color-box border-r-3 z-depth-1"></span>
                سبز
            </li>
            <li class="list-group-item waves-effect text-right" data-color="light-green-theme">
                <span class="light-green color-box border-r-3 z-depth-1"></span>
                سبز روشن
            </li>
            <li class="list-group-item waves-effect text-right" data-color="lime-theme">
                <span class="lime color-box border-r-3 z-depth-1"></span>
                لیمویی
            </li>
            <li class="list-group-item waves-effect text-right" data-color="yellow-theme">
                <span class="yellow color-box border-r-3 z-depth-1"></span>
                زرد
            </li>
            <li class="list-group-item waves-effect text-right" data-color="amber-theme">
                <span class="amber color-box border-r-3 z-depth-1"></span>
                کهربایی
            </li>
            <li class="list-group-item waves-effect text-right" data-color="orange-theme">
                <span class="orange color-box border-r-3 z-depth-1"></span>
                نارنجی
            </li>
            <li class="list-group-item waves-effect text-right" data-color="dark-orange-theme">
                <span class="deep-orange color-box border-r-3 z-depth-1"></span>
                نارنجی پررنگ
            </li>
            <li class="list-group-item waves-effect text-right" data-color="brown-theme">
                <span class="brown color-box border-r-3 z-depth-1"></span>
                قهوه ای
            </li>
            <li class="list-group-item waves-effect text-right" data-color="grey-theme">
                <span class="grey color-box border-r-3 z-depth-1"></span>
                خاکستری
            </li>
            <li class="list-group-item waves-effect text-right" data-color="blue-grey-theme">
                <span class="blue-grey color-box border-r-3 z-depth-1"></span>
                آبی خاکستری
            </li>
        </ul>
    </aside>

    <!---- Container ----->
    <section class="main-container">
        <ol class="breadcrumb breadcrumb-main">
            <li class="breadcrumb-item">پروفایل</li>
            <li class="breadcrumb-item active">پروفایل پرداخت</li>
        </ol>
        {#        <div class="row">#}
        {#            <div class="col-lg-12">#}
        {#                <div class="card">#}
        {#                    <div class="card-block">#}
        {#                        <div class="card-title">#}
        {#                            ثبت نام#}
        {#                        </div>#}
        {#                        <hr/>#}
        {#                        <div class="card-text">#}
        {#                            <div id="wizard_horizontal">#}
        {#                                <section>#}
        {##}
        {#                                    لطفا اطلاعات اولیه خود را جهت بهره مندی از سرویس مدارس وارد نمایید#}
        {##}
        {#                                    <form>#}
        {#                                        <br>#}
        {#                                        {{ form }}#}
        {#                                        <input id="acceptTerms-2" name="acceptTerms" type="checkbox" class="required">#}
        {#                                        <label#}
        {#                                                for="acceptTerms-2">من قوانین و شرایط را قبول دارم.</label>#}
        {#                                        </fieldset>#}
        {#                                    <br/>#}
        {##}
        {#                                        <button type="submit" class="btn cyan waves-effect waves-light">ثبت نام</button>#}
        {#                                    </form>#}
        {#                                </section>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
        {#        <div class="row">#}
        {#            <div class="col-lg-12">#}
        {#                <div class="card">#}
        {#                    <div class="card-block">#}
        {#                        <div class="card-title">#}
        {##}
        {##}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#    </section>#}
        <div class="row">
            <div class="col-md-12" style="padding-right:10%; padding-left:10%">
                <section class="card">
                    <section class="card-block">
                        <div class="card-title">
                            پروفایل

                        </div>
                        <hr/>
                        <div class="card-text table-container" style="font-size:14px; ">

                            <form method="post" action="" id="basic_form">{% csrf_token %}
                                {% for field in form %}

                                    <table style="width: 100%;">
                                        <tr>
                                            <td style="width:100px;padding-top: 20px"><label
                                                    for="{{ field.id_for_label }}">{{ field.label }}</label></td>
                                            <td>  {{ field }} </td>
                                        </tr>

                                    </table>

                                    <br/>
                                    {#                                        {% if field.help_text %}#}
                                    {#                                            <small style="color: grey">{{ field.help_text }}</small>#}
                                    {#                                        {% endif %}#}
                                    {% for error in field.errors %}
                                        <p style="color: red">{{ error }}</p>
                                    {% endfor %}

                                {% endfor %}
                                <table>
                                    <section class="col-lg-2 col-sm-4 col-md-3">
                                        <tr>
                                            <td>روز کلاس ها:</td>
                                            <td><input type="checkbox" id="chk-f-red1" name="sat" >
                                                <label for="chk-f-red1">شنبه</label>&nbsp;&nbsp;
                                                <input type="checkbox" id="chk-f-red2" name="sun" >
                                                <label for="chk-f-red2">یکشنبه</label>&nbsp;&nbsp;
                                                <input type="checkbox" id="chk-f-red3" name="mon" >
                                                <label for="chk-f-red3">دوشنبه</label>&nbsp;&nbsp;
                                                <input type="checkbox" id="chk-f-red4" name="tue" >
                                                <label for="chk-f-red4">سه شنبه</label>&nbsp;&nbsp;
                                                <input type="checkbox" id="chk-f-red5" name="wed" >
                                                <label for="chk-f-red5">چهارشنبه</label>&nbsp;&nbsp;
                                            </td>
                                            <td>
                                                <input type="checkbox" id="chk-f-red6" name="thu" >
                                                <label for="chk-f-red6">پنجشنبه</label>&nbsp;&nbsp;
                                                <input type="checkbox" id="chk-f-red7" name="fri" >
                                                <label for="chk-f-red7">جمعه</label>&nbsp;&nbsp;
                                                {#                                          <input type="checkbox" id="chk-f-red7" name="">#}
                                            </td>
                                    </section>
                                    </tr>
                                </table>
                                {#                                {{ form2 }}#}
                                {#                                {{ form2.errors }}#}
                                {#                                {{ form }}#}
                                {#                                <div class="form-group">#}
                                {#                                    <div class="md-form form-line">#}
                                {#                                            {{ form2.username }}#}
                                {#                                        <label>نام کاربری:</label>#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                {#                                <div class="form-group">#}
                                {#                                    <div class="md-form form-line">#}
                                {#                                            {{ form2.password1 }}#}
                                {#                                        <label>رمزعبور:</label>#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                {#                                <div class="form-group">#}
                                {#                                    <div class="md-form form-line">#}
                                {#                                            {{ form2.password2 }}#}
                                {#                                        <label>تکرار رمزعبور:</label>#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                {#                                <div class="form-group">#}
                                {#                                    <div class="md-form form-line">#}
                                {#                                        {{ form.name }}#}
                                {#                                        <label>نام:</label>#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                {#                                 <div class="form-group">#}
                                {#                                    <div class="md-form form-line">#}
                                {#                                        {{ form.family }}#}
                                {#                                        <label> نام خانوادگی: </label>#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                {#                                 <div class="form-group">#}
                                {#                                    <div class="md-form form-line">#}
                                {#                                        {{ form.codemelli }}#}
                                {#                                        <label> کد ملی: </label>#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                {#                                <div class="form-group">#}
                                {#                                    <div class="md-form form-line">#}
                                {#                                        {{ form.phone }}#}
                                {#                                        <label> تلفن: </label>#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                {#                                <div class="form-group">#}
                                {#                                    <div class="md-form form-line">#}
                                {#                                        {{ form.ephone }}#}
                                {#                                        <label> تلفن ضروری: </label>#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                {#                                <div class="form-group">#}
                                {#                                    <div class="md-form form-line" >#}
                                {#                                        {{ form.sourceAdress.label }}:#}
                                {#                                        {{ form.sourceAdress }}#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                {##}
                                {#                                <div class="form-group">#}
                                {#                                    <div class="md-form form-line"  >#}
                                {#                                        {{ form.destinationAdress.label }}:#}
                                {#                                        {{ form.destinationAdress }}#}
                                {##}
                                {#                                    </div>#}
                                {#                                </div>#}
                                {#                                <div class="form-group">#}
                                {#                                    <div class="md-form form-line">#}
                                {#                                        {{ form.startClassTime }}#}
                                {#                                        <label> ساعت شروع کلاس: </label>#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                {#                                <div class="form-group">#}
                                {#                                    <div class="md-form form-line">#}
                                {#                                        {{ form.endClassTime }}#}
                                {#                                        <label> ساعت پایان کلاس: </label>#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                {#                                <div class="form-group">#}
                                {#                                    <div class="md-form form-line">#}
                                {##}
                                {##}
                                {#                                    </div>#}
                                {#                                </div>#}
                                {#                                <div class="form-group">#}
                                {#                                    <div class="md-form form-line">#}
                                {#                                        <input type="radio" name="type" required="required" value="male" id="male">#}
                                {#                                        <label for="male">مرد</label>#}
                                {#                                        <input type="radio" name="type" required="required" value="female" id="female">#}
                                {#                                        <label for="female">زن</label>#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                {#                                <div class="form-group">#}
                                {#                                    <div class="md-form form-line">#}
                                {#                                        <input type="email" name="email" required="required" class="form-control">#}
                                {#                                        <label> ایمیل </label>#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                {#                                <div class="form-group">#}
                                {#                                    <div class="md-form form-line">#}
                                {#                                        <input type="checkbox" name="accept_terms" required="required" id="accept_terms"#}
                                {#                                               class="form-control">#}
                                {#                                        <label for="accept_terms">من قوانین وبسایت را قبول دارم.</label>#}
                                {#                                    </div>#}
                                {#                                </div>#}<br/><br/>
                                <img src="{% static 'includes/img/mellat.png' %}"/>
                                <input type="radio" name="type" required="required" value="male" id="male"
                                       aria-required="true">
                                <label for="male">درگاه بانک ملت</label>
                                <br/>
                                <div class="form-group">
                                    <div class="md-form form-line">
                                        <input type="checkbox" name="accept_terms" required="required" id="accept_terms"
                                               class="form-control">
                                        <label for="accept_terms">من قوانین وبسایت را قبول دارم.</label>


                                    </div>
                                </div>
                                 <a href="http://hitak30.com/?page_id=4053" class="btn green">قوانین</a>
                                <button class="btn btn-primary" value="send" type="submit" name="send">پرداخت</button>
                            </form>
                        </div>
                    </section>
                    <img src="{% static 'includes/img/logo-lg.jpeg' %}" class="logo"/>
                    <img src="https://trustseal.enamad.ir/logo.aspx?id=69312&amp;amp;p=DUzKnmlCB290icKF" alt=""
                         onclick="window.open(&amp;quot;https://trustseal.enamad.ir/Verify.aspx?id=69312&amp;amp;p=DUzKnmlCB290icKF&amp;quot;, &amp;quot;Popup&amp;quot;,&amp;quot;toolbar=no, location=no, statusbar=no, menubar=no, scrollbars=1, resizable=0, width=580, height=600, top=30&amp;quot;)"
                         style="cursor:pointer" id="DUzKnmlCB290icKF"/>


                </section>
            </div>
        </div>

{% endblock %}