{% extends 'base.html' %}
{% block content %}
    {% load staticfiles %}
    <!--- Navbar ----->
    <nav class="navbar navbar-dark top-nav">
        <div class="nav-icon">
            <p class="text-center white-text" style="line-height: 55px;">
                پارسیان گشت ایثار </p>
        </div>
        <div class="nav-list">
            <ul class="nav pull-right">
                {#                <li class="nav-item active waves-effect waves-light">#}
                {#                    <a href="javascript:;" id="close-menu" class="nav-link"><i class="fa fa-bars"></i></a>#}
                {#                </li>#}
                <li class="nav-item active hidden-md-down waves-effect waves-light">
                    <a href="javascript:;" class="nav-link left-sidebar-trigger" data-mainelement="#colorlist"><i
                            class="fa fa-cogs"></i></a>
                </li>
            </ul>
        </div>
    </nav>

    <!----- Main SideBar ------>


    <!----- Left SideBar ( Color List ) ------>
    <aside class="left-sidebar white" id="colorlist" style="    overflow-y: auto;">
        <ul class="list-group z-depth-0">
            <li class="list-group-item  waves-effect text-right" data-color="red-theme">
                <span class="red color-box border-r-3 z-depth-1"></span>
                قرمز
            </li>
            <li class="list-group-item waves-effect text-right" data-color="pink-theme">
                <span class="pink color-box border-r-3 z-depth-1"></span>
                صورتی
            </li>
            <li class="list-group-item waves-effect text-right" data-color="purple-theme">
                <span class="purple color-box border-r-3 z-depth-1"></span>
                بنفش
            </li>
            <li class="list-group-item waves-effect text-right" data-color="dark-purple-theme">
                <span class="deep-purple color-box border-r-3 z-depth-1"></span>
                بنفش پررنگ
            </li>
            <li class="list-group-item waves-effect text-right" data-color="indigo-theme">
                <span class="indigo color-box border-r-3 z-depth-1"></span>
                نیلی
            </li>
            <li class="list-group-item active waves-effect text-right" data-color="blue-theme">
                <span class="blue color-box border-r-3 z-depth-1"></span>
                آبی
            </li>
            <li class="list-group-item waves-effect text-right" data-color="light-blue-theme">
                <span class="light-blue color-box border-r-3 z-depth-1"></span>
                آبی روشن
            </li>
            <li class="list-group-item  waves-effect text-right" data-color="cyan-theme">
                <span class="cyan color-box border-r-3 z-depth-1"></span>
                فیروزه ای
            </li>
            <li class="list-group-item waves-effect text-right" data-color="teal-theme">
                <span class="teal color-box border-r-3 z-depth-1"></span>
                سبز خاکستری
            </li>
            <li class="list-group-item waves-effect text-right" data-color="green-theme">
                <span class="green color-box border-r-3 z-depth-1"></span>
                سبز
            </li>
            <li class="list-group-item waves-effect text-right" data-color="light-green-theme">
                <span class="light-green color-box border-r-3 z-depth-1"></span>
                سبز روشن
            </li>
            <li class="list-group-item waves-effect text-right" data-color="lime-theme">
                <span class="lime color-box border-r-3 z-depth-1"></span>
                لیمویی
            </li>
            <li class="list-group-item waves-effect text-right" data-color="yellow-theme">
                <span class="yellow color-box border-r-3 z-depth-1"></span>
                زرد
            </li>
            <li class="list-group-item waves-effect text-right" data-color="amber-theme">
                <span class="amber color-box border-r-3 z-depth-1"></span>
                کهربایی
            </li>
            <li class="list-group-item waves-effect text-right" data-color="orange-theme">
                <span class="orange color-box border-r-3 z-depth-1"></span>
                نارنجی
            </li>
            <li class="list-group-item waves-effect text-right" data-color="dark-orange-theme">
                <span class="deep-orange color-box border-r-3 z-depth-1"></span>
                نارنجی پررنگ
            </li>
            <li class="list-group-item waves-effect text-right" data-color="brown-theme">
                <span class="brown color-box border-r-3 z-depth-1"></span>
                قهوه ای
            </li>
            <li class="list-group-item waves-effect text-right" data-color="grey-theme">
                <span class="grey color-box border-r-3 z-depth-1"></span>
                خاکستری
            </li>
            <li class="list-group-item waves-effect text-right" data-color="blue-grey-theme">
                <span class="blue-grey color-box border-r-3 z-depth-1"></span>
                آبی خاکستری
            </li>
        </ul>
    </aside>

    <!---- Container ----->
    <section class="main-container">
        <ol class="breadcrumb breadcrumb-main">
            <li class="breadcrumb-item">فرم</li>
            <li class="breadcrumb-item active"> فرم های ثبت نام</li>
        </ol>
        {#        <div class="row">#}
        {#            <div class="col-lg-12">#}
        {#                <div class="card">#}
        {#                    <div class="card-block">#}
        {#                        <div class="card-title">#}
        {#                            ثبت نام#}
        {#                        </div>#}
        {#                        <hr/>#}
        {#                        <div class="card-text">#}
        {#                            <div id="wizard_horizontal">#}
        {#                                <section>#}
        {##}
        {#                                    لطفا اطلاعات اولیه خود را جهت بهره مندی از سرویس مدارس وارد نمایید#}
        {##}
        {#                                    <form>#}
        {#                                        <br>#}
        {#                                        {{ form }}#}
        {#                                        <input id="acceptTerms-2" name="acceptTerms" type="checkbox" class="required">#}
        {#                                        <label#}
        {#                                                for="acceptTerms-2">من قوانین و شرایط را قبول دارم.</label>#}
        {#                                        </fieldset>#}
        {#                                    <br/>#}
        {##}
        {#                                        <button type="submit" class="btn cyan waves-effect waves-light">ثبت نام</button>#}
        {#                                    </form>#}
        {#                                </section>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
        {#        <div class="row">#}
        {#            <div class="col-lg-12">#}
        {#                <div class="card">#}
        {#                    <div class="card-block">#}
        {#                        <div class="card-title">#}
        {##}
        {##}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#    </section>#}
        <div dir='ltr' class="row ">
            <div class="col-md-12" style="padding-right:20%; padding-left:20%">
                <section class="card">
                    <section class="card-block">
                        <div class="card-title">
                            ثبت نام
                        </div>
                        <hr/>
                        <div class="card-text " style="font-size:14px; ">
                            <form method="post" id="basic_form">{% csrf_token %}
                                {% for field in form %}
                                    <table style="width:100%;">
                                    <tr>
                                        <td style="width:10%;padding-top: 15px;" >
                                       {{ field.label_tag }}</td><td >{{ field }}</td></tr>
                                        <tr></tr>
{#                                        <tr ><td colspan="2">{{ field.help_text }}</td></tr>#}
                                    </table>
                                    <br/>

                                    {#                                        {% if field.help_text %}#}
                                    {#                                            <small style="color: grey">{{ field.help_text }}</small>#}
                                    {#                                        {% endif %}#}
                                    {% for error in field.errors %}
                                        <p style="color: red">{{ error }}</p>
                                    {% endfor %}

                                {% endfor %}
                                {#                                {{ form2 }}#}
                                {#                                {{ form2.errors }}#}
                                {#                                {{ form }}#}
                                {#                                <div class="form-group">#}
                                {#                                    <div class="md-form form-line">#}
                                {#                                            {{ form2.username }}#}
                                {#                                        <label>نام کاربری:</label>#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                {#                                <div class="form-group">#}
                                {#                                    <div class="md-form form-line">#}
                                {#                                            {{ form2.password1 }}#}
                                {#                                        <label>رمزعبور:</label>#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                {#                                <div class="form-group">#}
                                {#                                    <div class="md-form form-line">#}
                                {#                                            {{ form2.password2 }}#}
                                {#                                        <label>تکرار رمزعبور:</label>#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                {#                                <div class="form-group">#}
                                {#                                    <div class="md-form form-line">#}
                                {#                                        {{ form.name }}#}
                                {#                                        <label>نام:</label>#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                {#                                 <div class="form-group">#}
                                {#                                    <div class="md-form form-line">#}
                                {#                                        {{ form.family }}#}
                                {#                                        <label> نام خانوادگی: </label>#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                {#                                 <div class="form-group">#}
                                {#                                    <div class="md-form form-line">#}
                                {#                                        {{ form.codemelli }}#}
                                {#                                        <label> کد ملی: </label>#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                {#                                <div class="form-group">#}
                                {#                                    <div class="md-form form-line">#}
                                {#                                        {{ form.phone }}#}
                                {#                                        <label> تلفن: </label>#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                {#                                <div class="form-group">#}
                                {#                                    <div class="md-form form-line">#}
                                {#                                        {{ form.ephone }}#}
                                {#                                        <label> تلفن ضروری: </label>#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                {#                                <div class="form-group">#}
                                {#                                    <div class="md-form form-line" >#}
                                {#                                        {{ form.sourceAdress.label }}:#}
                                {#                                        {{ form.sourceAdress }}#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                {##}
                                {#                                <div class="form-group">#}
                                {#                                    <div class="md-form form-line"  >#}
                                {#                                        {{ form.destinationAdress.label }}:#}
                                {#                                        {{ form.destinationAdress }}#}
                                {##}
                                {#                                    </div>#}
                                {#                                </div>#}
                                {#                                <div class="form-group">#}
                                {#                                    <div class="md-form form-line">#}
                                {#                                        {{ form.startClassTime }}#}
                                {#                                        <label> ساعت شروع کلاس: </label>#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                {#                                <div class="form-group">#}
                                {#                                    <div class="md-form form-line">#}
                                {#                                        {{ form.endClassTime }}#}
                                {#                                        <label> ساعت پایان کلاس: </label>#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                {#                                <div class="form-group">#}
                                {#                                    <div class="md-form form-line">#}
                                {##}
                                {##}
                                {#                                    </div>#}
                                {#                                </div>#}
                                {#                                <div class="form-group">#}
                                {#                                    <div class="md-form form-line">#}
                                {#                                        <input type="radio" name="type" required="required" value="male" id="male">#}
                                {#                                        <label for="male">مرد</label>#}
                                {#                                        <input type="radio" name="type" required="required" value="female" id="female">#}
                                {#                                        <label for="female">زن</label>#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                {#                                <div class="form-group">#}
                                {#                                    <div class="md-form form-line">#}
                                {#                                        <input type="email" name="email" required="required" class="form-control">#}
                                {#                                        <label> ایمیل </label>#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                <div class="form-group">
                                    <div class="md-form form-line">
                                        <input type="checkbox" name="accept_terms" required="required" id="accept_terms"
                                               class="form-control">
                                        <label for="accept_terms">من قوانین وبسایت را قبول دارم.</label>

                                    </div>
                                </div>
                                 <a href="http://hitak30.com/?page_id=4053" class="btn green">قوانین</a>
                                <button class="btn btn-primary" value="send" type="submit" name="send">ثبت</button>
                                <a href="{% url 'login' %}" class="btn pink">انصراف</a>

                            </form>
                        </div>
                    </section>
                </section>
            </div>
        </div>


{% endblock %}