{% extends 'admin2.html' %}
{% block content2 %}
    {% load staticfiles %}
    <!--- Navbar ----->

    <!---- Container ----->
    <section class="main-container">
        <ol class="breadcrumb breadcrumb-main">
            <li class="breadcrumb-item">فرم</li>
            <li class="breadcrumb-item active"> پروفایل</li>
        </ol>

        <div dir='ltr' class="row ">
            <div class="col-md-12" style="padding-right:20%; padding-left:20%">
                <section class="card">
                    <section class="card-block">
                        <div class="card-title">
                            ویرایش پروفایل
                        </div>
                        <hr/>
                        <div class="card-text " style="font-size:14px; ">
                            <form method="post" id="basic_form">{% csrf_token %}
                                {% for field in form_set %}
                                    <table style="width:100%;">
                                    <tr>
                                        <td style="width:10%;padding-top: 15px;" >
                                       {{ field.label_tag }}</td><td >{{ field }}</td></tr>
                                        <tr></tr>
{#                                        <tr ><td colspan="2">{{ field.help_text }}</td></tr>#}
                                    </table>
                                    <br/>

                                    {#                                        {% if field.help_text %}#}
                                    {#                                            <small style="color: grey">{{ field.help_text }}</small>#}
                                    {#                                        {% endif %}#}
                                    {% for error in field.errors %}
                                        <p style="color: red">{{ error }}</p>
                                    {% endfor %}

                                {% endfor %}
                                {% for field in form %}
                                    <table style="width:100%;">
                                    <tr>
                                        <td style="width:10%;padding-top: 15px;" >
                                       {{ field.label_tag }}</td><td >{{ field }}</td></tr>
                                        <tr></tr>
{#                                        <tr ><td colspan="2">{{ field.help_text }}</td></tr>#}
                                    </table>
                                    <br/>

                                    {#                                        {% if field.help_text %}#}
                                    {#                                            <small style="color: grey">{{ field.help_text }}</small>#}
                                    {#                                        {% endif %}#}
                                    {% for error in field.errors %}
                                        <p style="color: red">{{ error }}</p>
                                    {% endfor %}

                                {% endfor %}


                                <button class="btn btn-primary" value="send" type="submit" name="send">ثبت</button>
                                <a href="{% url 'main' %}" class="btn pink">انصراف</a>

                            </form>
                        </div>
                    </section>
                </section>
            </div>
        </div>
    </section>

{% endblock %}