{% extends 'admin.html' %}
{% block content2 %}
    {% load staticfiles %}
    <!--- Navbar ----->

    <!---- Container ----->
    <section class="main-container">
        <ol class="breadcrumb breadcrumb-main">
            <li class="breadcrumb-item">فرم</li>
            <li class="breadcrumb-item active"> انتخاب راننده</li>
        </ol>

        <div dir='ltr' class="row ">
            <div class="col-md-12" style="padding-right:20%; padding-left:20%">
                <section class="card">
                    <section class="card-block">
                        <div class="card-title">
                            انتخاب راننده
                        </div>
                        <hr/>
                        <div class="card-text " style="font-size:14px; ">

                            <section class="col-lg-6 col-md-12 col-sm-12">

                            <form method="post" id="basic_form" >{% csrf_token %}

                                <label for="startanim">انتخاب راننده</label>

                                <select id="startanim" class="form-control" name="my_options">
                                  {% for pro in driver %}
                                    <option value="{{ pro.user }}">{{ pro.user }}</option>
                                  {% endfor %}
                                </select>
                                 <label for="startanim">انتخاب ترم</label>

                                <select id="startanim" class="form-control" name="my_options2">
                                  {% for pro in term %}
                                    <option value="{{ pro.name }}">{{ pro.name }}</option>
                                  {% endfor %}
                                </select>


                                <button class="btn btn-small btn-primary"  type = "submit" value="ثبت">ثبت</button>
{#                                <button class="btn btn-primary" value="select" type="submit" name="select" >ثبت</button>#}
                                <a href="{% url 'main' %}" class="btn pink">انصراف</a>

                            </form>

                            </section>




                        </div>
                    </section>
                </section>
            </div>
        </div>

    </section>
{% endblock %}