{% extends 'admin.html' %}
{% block content2 %}
    {% load staticfiles %}


    <!----- Left SideBar ( Color List ) ------>
    <aside class="left-sidebar white" id="colorlist" style="    overflow-y: auto;">
        <ul class="list-group z-depth-0">
            <li class="list-group-item  waves-effect text-right" data-color="red-theme">
                <span class="red color-box border-r-3 z-depth-1"></span>
                قرمز
            </li>
            <li class="list-group-item waves-effect text-right" data-color="pink-theme">
                <span class="pink color-box border-r-3 z-depth-1"></span>
                صورتی
            </li>
            <li class="list-group-item waves-effect text-right" data-color="purple-theme">
                <span class="purple color-box border-r-3 z-depth-1"></span>
                بنفش
            </li>
            <li class="list-group-item waves-effect text-right" data-color="dark-purple-theme">
                <span class="deep-purple color-box border-r-3 z-depth-1"></span>
                بنفش پررنگ
            </li>
            <li class="list-group-item waves-effect text-right" data-color="indigo-theme">
                <span class="indigo color-box border-r-3 z-depth-1"></span>
                نیلی
            </li>
            <li class="list-group-item active waves-effect text-right" data-color="blue-theme">
                <span class="blue color-box border-r-3 z-depth-1"></span>
                آبی
            </li>
            <li class="list-group-item waves-effect text-right" data-color="light-blue-theme">
                <span class="light-blue color-box border-r-3 z-depth-1"></span>
                آبی روشن
            </li>
            <li class="list-group-item  waves-effect text-right" data-color="cyan-theme">
                <span class="cyan color-box border-r-3 z-depth-1"></span>
                فیروزه ای
            </li>
            <li class="list-group-item waves-effect text-right" data-color="teal-theme">
                <span class="teal color-box border-r-3 z-depth-1"></span>
                سبز خاکستری
            </li>
            <li class="list-group-item waves-effect text-right" data-color="green-theme">
                <span class="green color-box border-r-3 z-depth-1"></span>
                سبز
            </li>
            <li class="list-group-item waves-effect text-right" data-color="light-green-theme">
                <span class="light-green color-box border-r-3 z-depth-1"></span>
                سبز روشن
            </li>
            <li class="list-group-item waves-effect text-right" data-color="lime-theme">
                <span class="lime color-box border-r-3 z-depth-1"></span>
                لیمویی
            </li>
            <li class="list-group-item waves-effect text-right" data-color="yellow-theme">
                <span class="yellow color-box border-r-3 z-depth-1"></span>
                زرد
            </li>
            <li class="list-group-item waves-effect text-right" data-color="amber-theme">
                <span class="amber color-box border-r-3 z-depth-1"></span>
                کهربایی
            </li>
            <li class="list-group-item waves-effect text-right" data-color="orange-theme">
                <span class="orange color-box border-r-3 z-depth-1"></span>
                نارنجی
            </li>
            <li class="list-group-item waves-effect text-right" data-color="dark-orange-theme">
                <span class="deep-orange color-box border-r-3 z-depth-1"></span>
                نارنجی پررنگ
            </li>
            <li class="list-group-item waves-effect text-right" data-color="brown-theme">
                <span class="brown color-box border-r-3 z-depth-1"></span>
                قهوه ای
            </li>
            <li class="list-group-item waves-effect text-right" data-color="grey-theme">
                <span class="grey color-box border-r-3 z-depth-1"></span>
                خاکستری
            </li>
            <li class="list-group-item waves-effect text-right" data-color="blue-grey-theme">
                <span class="blue-grey color-box border-r-3 z-depth-1"></span>
                آبی خاکستری
            </li>
        </ul>
    </aside>

    <!---- Container ----->
    <section class="main-container">
        <ol class="breadcrumb breadcrumb-main">
            <li class="breadcrumb-item">فرم</li>
            <li class="breadcrumb-item active">ویرایش کانون</li>
        </ol>

        <div class="row">
            <div class="col-md-12" style="padding-right:10%; padding-left:10%">
                <section class="card">
                    <section class="card-block">
                        <div class="card-title">
                            پروفایل

                        </div>
                        <hr/>
                        <div class="card-text table-container" style="font-size:14px; ">

                            <form method="post" action="" id="basic_form">{% csrf_token %}
                                {% for field in form %}

                                    <table style="width: 100%;">
                                        <tr>
                                            <td style="width:100px;padding-top: 20px"><label
                                                    for="{{ field.id_for_label }}">{{ field.label }}</label></td>
                                            <td>  {{ field }} </td>
                                        </tr>

                                    </table>

                                    <br/>
                                    {#                                        {% if field.help_text %}#}
                                    {#                                            <small style="color: grey">{{ field.help_text }}</small>#}
                                    {#                                        {% endif %}#}
                                    {% for error in field.errors %}
                                        <p style="color: red">{{ error }}</p>
                                    {% endfor %}

                                {% endfor %}
                                <table>
                                    {#                                    <section class="col-lg-2 col-sm-4 col-md-3">#}

                                    <button class="btn btn-primary" value="send" type="submit" name="send">ثبت
                                    </button>
                                </table>
                            </form>
                        </div>
                    </section>

                    </section>

            </div>
        </div>
    </section>
{% endblock %}