{% extends 'admin.html' %}

{% load staticfiles payment_tags %}
{##}
{% block content2 %}
    {% load staticfiles %}


    <section class="main-container">
        <ol class="breadcrumb breadcrumb-main">
            <li class="breadcrumb-item"> پرداخت ها</li>
            <li class="breadcrumb-item active"> جدول</li>
        </ol>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-block">

                        <div class="card-text">
                            {#    <div dir="rtl" class="main-content">#}
                            {#        <div class="container-fluid">#}
                            {##}
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        کانون ها
                                    </h3>
                                    <a class="btn red" href="{% url "institutereg" %}">افزودن کانون</a>

                                </div>
                                <div class="panel-body table-container">
                                    {##}
                                    {#                    <table class="table table-striped">#}
                                    <table id="example1" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center">#</th>
                                            <th style="text-align: center">
                                                نام کانون
                                            </th>

                                            <th style="text-align: center">
                                                 نمایش  و  ویرایش
                                            </th>
{#                                             <th style="text-align: center">#}
{#                                                 حذف#}
{#                                            </th>#}
                                        </tr>
                                        </thead>

                                        <tbody>
                                        {% for pro in profile %}
                                            <tr style="background-color: {% if payment.success %}#c5f5cc{% endif %}">
                                                <td style="text-align: center">{{ forloop.counter }}</td>
                                                <td style="text-align: center">

                                                    <p>{{ pro.name }}</p>
                                                </td>

                                                <td style="text-align: center">
                                                            <a class="btn btn-primary" href="{% url "instituteedit" pk=pro.pk %}">ویرایش</a>
                                               </td>
{#                                                <td style="text-align: center">#}
{#                                                            <a class="btn btn-danger" href="{% url "institutedel" pk=pro.pk %}">حذف </a>#}
{#                                               </td>#}

                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>


{#                        <!--- JQuery (necessary File) --->#}
                        <script type="text/javascript" src="{% static 'plugins/jQuery/jQuery-2.1.4.min.js' %}"></script>

                        <!--Material Design Bootstrap  Js Files ---->
                        <script type="text/javascript" src="{% static 'includes/mdb/js/tether.min.js' %}"></script>

{#                        <script type="text/javascript" src="{% static 'includes/mdb/js/bootstrap.min.js' %}"></script>#}
{#                        <script type="text/javascript" src="{% static 'includes/mdb/js/mdb.min.js' %}"></script>#}
{##}
{##}
{#                        <!------ Theme Script --->#}
{#                        <script type="text/javascript" src="{% static 'includes/js/admin.js' %}"></script>#}


                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}
