{% extends 'admin.html' %}

{% load staticfiles payment_tags %}
{##}
{% block content2 %}
    {% load staticfiles %}


    <section class="main-container">
        <ol class="breadcrumb breadcrumb-main">
            <li class="breadcrumb-item"> فرم</li>
            <li class="breadcrumb-item active">پرداخت</li>
        </ol>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-block">

                        <div class="card-text">
                            {#    <div dir="rtl" class="main-content">#}
                            {#        <div class="container-fluid">#}
                            {##}
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        حواله گروهی
                                    </h3>
                                </div>

                                {% if messages %}
                                    <ul class="messages">
                                        {% for message in messages %}
                                            <li{% if message.tags %}
                                                class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                <div class="panel-body" align="center">
                                    <br/>
                                    {% if not confirm %}
                                    <p>وضعیت: تایید نشده</p>
                                    <a class="btn blue waves-effect waves-light"
                                       href={% url 'transferfund' slug=slug %}>فایل بانک ملت</a>
                                    <a class="btn red waves-effect waves-light"
                                       href={% url 'transferfundcancel' slug=slug %}>لغو</a>
                                     <a class="btn green waves-effect waves-light"
                                       href={% url 'paymentconfirm' slug=slug %}>تایید نهایی</a>
                                    <br/>
                                    {% endif %}
                                    {% if confirm %}
                                    <p>وضعیت: تایید شده</p>
                                    {% endif %}
                                </div>


                                {##}
                                {#                    <table class="table table-striped">#}
                                {#                                    <table id="example1" class="tablerep table table-bordered table-hover">#}
                                {#                                    <thead>#}
                                {#                                        <tr>#}
                                {#                                            <th style="text-align: center">#</th>#}
                                {#                                            <th style="text-align: center">#}
                                {#                                                نام#}
                                {#                                            </th>#}
                                {#                                            <th style="text-align: center">#}
                                {#                                               شماره ملی#}
                                {#                                            </th>#}
                                {#                                            <th style="text-align: center">#}
                                {#                                                بانک#}
                                {#                                            </th>#}
                                {#                                            <th style="text-align: center">#}
                                {#                                                شماره حساب#}
                                {#                                            </th>#}
                                {#                                            <th style="text-align: center">#}
                                {#                                                مبلغ قابل پرداخت#}
                                {#                                            </th>#}
                                {##}
                                {#                                        </tr>#}
                                {#                                        </thead>#}
                                {##}
                                {#                                        <tbody>#}
                                {#                                        {% for pro in profile %}#}
                                {#                                            <tr style="background-color: {% if payment.success %}#c5f5cc{% endif %}">#}
                                {#                                                <td style="text-align: center">{{ forloop.counter }}</td>#}
                                {#                                                <td style="text-align: center">#}
                                {#                                                    {% if pro.user.first_name %}#}
                                {#                                                        <label>{{ pro.user.first_name }} {{ pro.user.last_name }}</label>{% endif %}#}
                                {#                                                    <p>({{ pro.user.username }})</p>#}
                                {#                                                </td>#}
                                {#                                                <td style="text-align: center">#}
                                {#                                                   {{ pro.user.username }}#}
                                {##}
                                {#                                                </td>#}
                                {#                                            <td style="text-align: center">#}
                                {#                                                    {{ pro.bankacc }}#}
                                {#                                                </td>#}
                                {#                                            <td style="text-align: center">#}
                                {#                                                    {{ pro.bankaccnum }}#}
                                {#                                                </td>#}
                                {#                                             <td style="text-align: center">#}
                                {#                                                    0#}
                                {#                                                </td>#}
                                {#                                                <td style="text-align: center">#}
                                {#                                                            <a class="btn btn-danger" >حذف</a>#}
                                {#                                                    href="{% url "studentdriverdel" pk=pro.pk %}#}
                                {#                                               </td>#}
                                {##}
                                {##}
                                {#                                            </tr>#}
                                {#                                        {% endfor %}#}
                                {#                                    </table>#}
                                {#                                </div>#}
                            </div>
                        </div>


                        {#                        <!--- JQuery (necessary File) --->#}
                        <script type="text/javascript" src="{% static 'plugins/jQuery/jQuery-2.1.4.min.js' %}"></script>

                        <!--Material Design Bootstrap  Js Files ---->
                        <script type="text/javascript" src="{% static 'includes/mdb/js/tether.min.js' %}"></script>

                        <script type="text/javascript" src="{% static 'includes/mdb/js/bootstrap.min.js' %}"></script>
                        {#                        <script type="text/javascript" src="{% static 'includes/mdb/js/mdb.min.js' %}"></script>#}


                        <!------ Theme Script --->
                        <script type="text/javascript" src="{% static 'includes/js/admin.js' %}"></script>


                    </div>
                </div>

            </div>
        </div>
    </section>


{% endblock %}
