/*!
 * TableExport.js v5.0.0 (https://www.travismclarke.com)
 *
 * Copyright (c) 2018 - Travis Clarke - https://www.travismclarke.com
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at

 * http://www.apache.org/licenses/LICENSE-2.0

 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 */

/*-----------------------------------/
/* CAPTION POSITIONS
/*----------------------------------*/

.top {
    caption-side: top;
}

.bottom {
    caption-side: bottom;
}

/*-----------------------------------/
/* BUTTON CUSTOM CLASSES
/*----------------------------------*/

.button-default, .button-default:hover, .button-default:focus, .button-default:active {
    text-decoration: none;
}

.button-default {
    font: bold 12px sans-serif;
    color: #222222;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
}

.button-default.xlsx:before, .button-default.xls:before, .button-default.csv:before, .button-default.txt:before {
    content: none;
}

.xlsx, .xls, .csv, .txt {
    margin: 4px 0;
}

.xlsx:before, .xls:before, .csv:before, .txt:before {
    margin-right: 10px;
    padding: 11px 15px 12px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/*.xlsx:before {
    content: "";
    background: darkgreen  ;
}*/

.xls:before {
    content: "";
    background: green url(../img/xls.svg) no-repeat center;
}

.csv:before {
    content: "";
    background: blue url(../img/csv.svg) no-repeat center;
}

.txt:before {
    content: "";
    background: purple url(../img/txt.svg) no-repeat center;
}
