<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table style="width:100%">
    <tr>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <td style="width: 20%">نام: {{  }}</td>
        <td style="width: 20%">نام خانوادگی: {{  }}</td>
        <td style="width: 40%">کدملی: {{  }}</td>
    </tr>
    <br/>

    <tr>
        <td style="width: 90%">مبلغ سرویس </td>
        <td style="width: 10%"> {{  }}</td>
        <td></td>

    </tr>
    <br/>
     {% for field in  %}
    <tr></tr>
</table>


</body>
</html>