{% extends 'base.html' %}
{% block content %}
    {% load staticfiles %}
    <!--- Navbar ----->
    {#    <nav class="navbar navbar-dark top-nav">#}
    {#        <div class="nav-icon">#}
    {#            <p class="text-center white-text" style="line-height: 55px;">#}
    {#                پارسیان گشت ایثار </p>#}
    {#        </div>#}
    {#        <div class="nav-list">#}
    {#            <ul class="nav pull-right">#}
    {#                <li class="nav-item active waves-effect waves-light">#}
    {#                    <a href="javascript:;" id="close-menu" class="nav-link"><i class="fa fa-bars"></i></a>#}
    {#                </li>#}
    {#                <li class="nav-item active hidden-md-down waves-effect waves-light">#}
    {#                    <a href="javascript:;" class="nav-link left-sidebar-trigger" data-mainelement="#colorlist"><i#}
    {#                            class="fa fa-cogs"></i></a>#}
    {#                </li>#}
    {#            </ul>#}
    {#        </div>#}
    {#    </nav>#}
    {##}
    {#    <!----- Main SideBar ------>#}
    {##}
    {##}
    {#    <!----- Left SideBar ( Color List ) ------>#}
    {#    <aside class="left-sidebar white" id="colorlist" style="    overflow-y: auto;">#}
    {#        <ul class="list-group z-depth-0">#}
    {#            <li class="list-group-item  waves-effect text-right" data-color="red-theme">#}
    {#                <span class="red color-box border-r-3 z-depth-1"></span>#}
    {#                قرمز#}
    {#            </li>#}
    {#            <li class="list-group-item waves-effect text-right" data-color="pink-theme">#}
    {#                <span class="pink color-box border-r-3 z-depth-1"></span>#}
    {#                صورتی#}
    {#            </li>#}
    {#            <li class="list-group-item waves-effect text-right" data-color="purple-theme">#}
    {#                <span class="purple color-box border-r-3 z-depth-1"></span>#}
    {#                بنفش#}
    {#            </li>#}
    {#            <li class="list-group-item waves-effect text-right" data-color="dark-purple-theme">#}
    {#                <span class="deep-purple color-box border-r-3 z-depth-1"></span>#}
    {#                بنفش پررنگ#}
    {#            </li>#}
    {#            <li class="list-group-item waves-effect text-right" data-color="indigo-theme">#}
    {#                <span class="indigo color-box border-r-3 z-depth-1"></span>#}
    {#                نیلی#}
    {#            </li>#}
    {#            <li class="list-group-item active waves-effect text-right" data-color="blue-theme">#}
    {#                <span class="blue color-box border-r-3 z-depth-1"></span>#}
    {#                آبی#}
    {#            </li>#}
    {#            <li class="list-group-item waves-effect text-right" data-color="light-blue-theme">#}
    {#                <span class="light-blue color-box border-r-3 z-depth-1"></span>#}
    {#                آبی روشن#}
    {#            </li>#}
    {#            <li class="list-group-item  waves-effect text-right" data-color="cyan-theme">#}
    {#                <span class="cyan color-box border-r-3 z-depth-1"></span>#}
    {#                فیروزه ای#}
    {#            </li>#}
    {#            <li class="list-group-item waves-effect text-right" data-color="teal-theme">#}
    {#                <span class="teal color-box border-r-3 z-depth-1"></span>#}
    {#                سبز خاکستری#}
    {#            </li>#}
    {#            <li class="list-group-item waves-effect text-right" data-color="green-theme">#}
    {#                <span class="green color-box border-r-3 z-depth-1"></span>#}
    {#                سبز#}
    {#            </li>#}
    {#            <li class="list-group-item waves-effect text-right" data-color="light-green-theme">#}
    {#                <span class="light-green color-box border-r-3 z-depth-1"></span>#}
    {#                سبز روشن#}
    {#            </li>#}
    {#            <li class="list-group-item waves-effect text-right" data-color="lime-theme">#}
    {#                <span class="lime color-box border-r-3 z-depth-1"></span>#}
    {#                لیمویی#}
    {#            </li>#}
    {#            <li class="list-group-item waves-effect text-right" data-color="yellow-theme">#}
    {#                <span class="yellow color-box border-r-3 z-depth-1"></span>#}
    {#                زرد#}
    {#            </li>#}
    {#            <li class="list-group-item waves-effect text-right" data-color="amber-theme">#}
    {#                <span class="amber color-box border-r-3 z-depth-1"></span>#}
    {#                کهربایی#}
    {#            </li>#}
    {#            <li class="list-group-item waves-effect text-right" data-color="orange-theme">#}
    {#                <span class="orange color-box border-r-3 z-depth-1"></span>#}
    {#                نارنجی#}
    {#            </li>#}
    {#            <li class="list-group-item waves-effect text-right" data-color="dark-orange-theme">#}
    {#                <span class="deep-orange color-box border-r-3 z-depth-1"></span>#}
    {#                نارنجی پررنگ#}
    {#            </li>#}
    {#            <li class="list-group-item waves-effect text-right" data-color="brown-theme">#}
    {#                <span class="brown color-box border-r-3 z-depth-1"></span>#}
    {#                قهوه ای#}
    {#            </li>#}
    {#            <li class="list-group-item waves-effect text-right" data-color="grey-theme">#}
    {#                <span class="grey color-box border-r-3 z-depth-1"></span>#}
    {#                خاکستری#}
    {#            </li>#}
    {#            <li class="list-group-item waves-effect text-right" data-color="blue-grey-theme">#}
    {#                <span class="blue-grey color-box border-r-3 z-depth-1"></span>#}
    {#                آبی خاکستری#}
    {#            </li>#}
    {#        </ul>#}
    {#    </aside>#}

    <!---- Container ----->
    <section class="main-container">

        {#        <div class="row">#}
        {#            <div class="col-lg-12">#}
        {#                <div class="card">#}
        {#                    <div class="card-block">#}
        {#                        <div class="card-title">#}
        {#                            ثبت نام#}
        {#                        </div>#}
        {#                        <hr/>#}
        {#                        <div class="card-text">#}
        {#                            <div id="wizard_horizontal">#}
        {#                                <section>#}
        {##}
        {#                                    لطفا اطلاعات اولیه خود را جهت بهره مندی از سرویس مدارس وارد نمایید#}
        {##}
        {#                                    <form>#}
        {#                                        <br>#}
        {#                                        {{ form }}#}
        {#                                        <input id="acceptTerms-2" name="acceptTerms" type="checkbox" class="required">#}
        {#                                        <label#}
        {#                                                for="acceptTerms-2">من قوانین و شرایط را قبول دارم.</label>#}
        {#                                        </fieldset>#}
        {#                                    <br/>#}
        {##}
        {#                                        <button type="submit" class="btn cyan waves-effect waves-light">ثبت نام</button>#}
        {#                                    </form>#}
        {#                                </section>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
        {#        <div class="row">#}
        {#            <div class="col-lg-12">#}
        {#                <div class="card">#}
        {#                    <div class="card-block">#}
        {#                        <div class="card-title">#}
        {##}
        {##}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#    </section>#}
        <div dir='ltr' class="row ">
            <div class="col-md-12" >
                <section class="card">
                    <section class="card-block">
                        <div class="card-title">
                            اطلاعات مالی
                        </div>
                        <hr/>
                        <div class="card-text " style="font-size:14px; ">
                        <br/>
                        <section dir="ltr" class="row" style="padding-right: 2%;">
                            <table style="width: 100%">
                                <tr >
                                <td style="width: 10%;"> نام: {{ profile.user.first_name}}</td>
                                <td style="width: 10%;">نام خانوادگی: {{ profile.user.last_name}}</td>
                                <td style="width: 10%;"> کد ملی: {{ profile.user.username }}</td>
                                </tr>
                            </table>
                            <div class="col-md-3"></div>
                            <div class="col-md-3"></div>
                            <div class="col-md-3"></div>
                        </section>


                            <br/>
                            <br/>
                        <p>ترم:</p>
                        <table class="table table-striped" style="width: 100%">
                            <tr>
                                    <td>{{ term.name }} </td>

                                </tr>
                            </table>
                        {% for tsalary in tsalary1 %}
                        {% if tsalary.role == 'driver' %}
                        <p>مبلغ پایه عنوان راننده :</p>
                        <table class="table table-striped" style="width: 100%">
                            <tr>
                                    <td>{{ tsalary.basesalary }} </td>

                                </tr>
                            </table>
                            {% endif %}
                             {% if tsalary.role == "manager service" %}
                        <p>مبلغ پایه به عنوان مدیر سرویس :</p>
                        <table class="table table-striped" style="width: 100%">
                            <tr>
                                    <td>{{ tsalary.basesalary }} </td>

                                </tr>
                            </table>

                        {% endif %}
                            {% if tsalary.role == "manager" %}
                        <p>مبلغ پایه به عنوان مدیر :</p>
                        <table class="table table-striped" style="width: 100%">
                            <tr>
                                    <td>{{ tsalary.basesalary }} </td>

                                </tr>
                            </table>

                        {% endif %}
                            <table class="table " style="width: 100%">
                            <tr>
                             <td>وضعیت:</td>
                        {%  if tsalary.status == "True" %}
                        <td>پرداخت شده</td>
                        {% elif tsalary.status == "progress"%}
                            <td>ارسال پرداخت</td>
                        {% elif tsalary.status == "False" %}
                        <td>پرداخت نشده</td>
                        {% endif %}
                            </table>
                        {% endfor %}
                            <p>کسورات و اضافات</p>
                            <table class="table table-striped" style="width: 100%">
                                <tr>
                                    <td style="width: 30%">توضیحات </td>
                                    <td>نام مدیر اجرایی</td>
                                    <td>مبلغ</td>
                                </tr>
                                {% for i in acc  %}
                                <tr >
                                    <td style="width: 50%">{{ i.desc }}</td>
                                    <td style="width: 40%">{{ i.nameofauthor }}</td>
                                    <td>{{ i.subprice }}{% if i.account == 'minus' %}-{% endif %}</td>
                                </tr>

                            </table>



                        {% endfor %}

                        <p>مبلغ نهایی:</p>
                        <table class="table table-striped" style="width: 100%">
                            <tr>
                                    <td>{{ total}} </td>

                                </tr>
                            </table>
                                                    <img src="{% static 'includes/img/logo-lg.png' %}" class="logo" />

                                    {#                                <button class="btn btn-primary" value="send" type="submit" name="send">ثبت</button>#}
{#                                    <a href="{% url 'pay' pk=pk %}" class="btn green">تایید</a>#}
                                    <a class="btn orange" onClick="javascript:history.go(-1);">صفحه قبل</a>
                                    {#                                <a href="{% url 'pay' pk=pk %}" class="btn orange">انصراف</a>#}
                                    <a class="btn btn-danger" onClick="window.print()">پرینت</a>

                        </div>
                    </section>
                </section>

            </div>
        </div>
    </section>

{% endblock %}