{% extends 'admin.html' %}
{% load jformat %}

{% block content2 %}
    {% load staticfiles %}


    <!---- Container ----->
    <section class="main-container">
        <ol class="breadcrumb breadcrumb-main">
            <li class="breadcrumb-item">فرم</li>
            <li class="breadcrumb-item active"> پروفایل پرداخت</li>
        </ol>

        <div dir='ltr' class="row ">
            <div class="col-md-12" style="padding-right:20%; padding-left:20%">
                <section class="card">
                    <section class="card-block">
                        <div class="card-title">
                           پرداخت
                        </div>
                        <hr/>
                        <div class="card-text " style="font-size:14px; ">
                                        <form method="post" id="basic_form">{% csrf_token %}
                                        {% for field in form %}
                                    <table style="width:100%;">
                                    <tr>
                                        <td style="width:20%;padding-top: 15px;" >
                                       {{ field.label_tag }}</td><td >{{ field }}</td></tr>
                                        <tr></tr>
{#                                        <tr ><td colspan="2">{{ field.help_text }}</td></tr>#}
                                    </table>
                                    <br/>
                                            {% endfor %}

                                                                    <button class="btn btn-primary" value="send" type="submit" name="send">ثبت</button>
{#                                    <a href="{% url 'pay' pk=pk %}" class="btn green">تایید</a>#}
{#                                    <a class="btn orange" onClick="javascript:history.go(-1);">صفحه قبل</a>#}
                                    {#                                <a href="{% url 'pay' pk=pk %}" class="btn orange">انصراف</a>#}
{#                                    <a href="{% url 'main' %}" class="btn pink">انصراف</a>#}
                                        </form>
                        </div>
                    </section>
                </section>

            </div>
        </div>
    </section>
        <script src="{% static 'plugins/jQuery/js/persian-date.min.js' %}"></script>
                        <script src="{% static 'plugins/jQuery/js/persian-datepicker.js' %}"></script>

<script type="text/javascript">
  $(document).ready(function() {
    $(".example3").pDatepicker({
        format: 'YYYY-MM-DD',
      });
  });

</script>
{% endblock %}