{% extends 'admin2.html' %}
{% block content2 %}
    {% load staticfiles %}

     <section class="main-container">
        <ol class="breadcrumb breadcrumb-main">
            <li class="breadcrumb-item">فرم</li>
            <li class="breadcrumb-item active"> فرم های ثبت نام</li>
        </ol>
        <div dir='ltr' class="row ">
            <div class="col-md-12" style="padding-right:10%; padding-left:10%">
                <section class="card">
                    <section class="card-block">
                        <div class="card-title">
                            ثبت نام
                        </div>
                        <hr/>
                        <div class="card-text table-container" style="font-size:14px; ">
                            <form method="post" id="basic_form">{% csrf_token %}
{##}
{#                                <table>#}
{#                                    <tr style="height: 30px;">#}




                             <section class="row  col-md-12">
                             <div  class="row" style="direction: ltr">
                                 <div align="center" class="col-md-3 col-sm-12" >

                                <img align="center"  style="height: 70px !important;" src="{% static 'includes/img/user8-128x128.jpg' %}" class="border-r-3 z-depth-1">
                                     </div>
                                        {% for field in form %}

{#                                            <td style="padding: 25px;width:40px;">#}
                                            <div class="col-md-3 col-sm-12 " style="height: 70px !important;">
                                             <table>
                                             <tr style="height: 60px;">

                                             <td >
                                                 <div style="width:70px">
                                                  {{ field.label }}:
                                                 </div>
                                             </td>
{#                                            </td>#}
{#                                            <td style="width: 250px;">#}
                                             <td>
                                                {{ field }}
                                                {% if field.errors %}
                                                {% for error in field.errors %}
                                                    <p style="color: red">{{ error }}</p>
                                                {% endfor %}
                                                {% endif %}
                                             </td>
                                             </tr>
                                                </table>
                                            </div>
{#                                            </td>#}
{#                                            {% if forloop.last %}#}
{#                                                </tr>#}
{#                                            {% else %}#}
{#                                                {% if forloop.counter|divisibleby:"4" %}#}
{#                                                    </tr>#}
{#                                                    <tr style="height: 30px;">#}
{#                                                {% endif %}#}
{#                                            {% endif %}#}

                                        {% endfor %}


                                        {% for field in form_set %}

{#                                            <td style="padding: 25px;width:40px;">#}
                                            <div class="col-md-3 col-sm-12 " style="height: 70px !important;">
                                             <table>
                                             <tr style="height: 60px;">

                                             <td >
                                                 <div style="width:70px">
                                                  {{ field.label }}:
                                                 </div>
                                             </td>
{#                                            </td>#}
{#                                            <td style="width: 250px;">#}
                                             <td>
                                                {{ field }}
                                                {% if field.errors %}
                                                {% for error in field.errors %}
                                                    <p style="color: red">{{ error }}</p>
                                                {% endfor %}
                                                {% endif %}
                                             </td>
                                             </tr>
                                                </table>
                                            </div>
{#                                            </td>#}
{#                                            {% if forloop.last %}#}
{#                                                </tr>#}
{#                                            {% else %}#}
{#                                                {% if forloop.counter|divisibleby:"4" %}#}
{#                                                    </tr>#}
{#                                                    <tr style="height: 30px;">#}
{#                                                {% endif %}#}
{#                                            {% endif %}#}

                                        {% endfor %}
                             </div>
                             </section>
{#                                </table>#}


                                <button class="btn btn-primary" value="send" type="submit" name="send">ثبت</button>
                                <a href="{% url 'main' %}" class="btn pink">انصراف</a>

                            </form>
                        </div>

                    </section>
                </section>


            </div>

        </div>

 </section>
{% endblock %}