{% extends 'admin2.html' %}

{% load staticfiles payment_tags %}
{##}
{% block content2 %}
    {% load staticfiles %}


    <section class="main-container">
        <ol class="breadcrumb breadcrumb-main">
            <li class="breadcrumb-item"> فرم</li>
            <li class="breadcrumb-item active">رانندگان</li>
        </ol>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-block">

                        <div class="card-text">
                            {#    <div dir="rtl" class="main-content">#}
                            {#        <div class="container-fluid">#}
                            {##}
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        لیست دانش آموز راننده
                                    </h3>
                                </div>
                                <div class="panel-body">
{#                                    <a class="btn pink waves-effect waves-light" href="/export_list/">گرفتن گزارش excel</a>#}
                                    {##}
                                    {#                    <table class="table table-striped">#}
                                    <table id="example1" class="tablerep table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center">#</th>
                                            <th style="text-align: center">
                                                نام دانش آموز
                                            </th>
                                            <th style="text-align: center">
                                                مسیرها
                                            </th>


                                        </tr>
                                        </thead>

                                        <tbody>
                                        {% for pro in students %}
                                            <tr style="background-color: {% if payment.success %}#c5f5cc{% endif %}">
                                                <td style="text-align: center">{{ forloop.counter }}</td>
                                                <td style="text-align: center">
                                                    {% if pro.first_name %}
                                                        <label>{{ pro.first_name }} {{ pro.last_name }}</label>{% endif %}
                                                    <p>({{ pro.username }})</p>
                                                </td>
                                                <td style="text-align: center">
                                                    <a class="btn btn-primary" href="{% url "historydri" pk=pro.pk slug=slug %}">مسیر</a>

                                                </td>

{#                                                <td style="text-align: center">#}
{#                                                            <a class="btn btn-danger" >حذف</a>#}
{#                                                    href="{% url "studentdriverdel" pk=pro.pk %}#}
{#                                               </td>#}


                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>


{#                        <!--- JQuery (necessary File) --->#}
                        <script type="text/javascript" src="{% static 'plugins/jQuery/jQuery-2.1.4.min.js' %}"></script>

                        <!--Material Design Bootstrap  Js Files ---->
                        <script type="text/javascript" src="{% static 'includes/mdb/js/tether.min.js' %}"></script>

                        <script type="text/javascript" src="{% static 'includes/mdb/js/bootstrap.min.js' %}"></script>
{#                        <script type="text/javascript" src="{% static 'includes/mdb/js/mdb.min.js' %}"></script>#}


                        <!------ Theme Script --->
                        <script type="text/javascript" src="{% static 'includes/js/admin.js' %}"></script>


                    </div>
                </div>

            </div>
        </div>
    </section>


{% endblock %}
