{% extends 'admin.html' %}
{% load jformat %}

{% block content2 %}
    {% load staticfiles %}

    {% load staticfiles payment_tags %}



    <section class="main-container" lang="fa">
        <ol class="breadcrumb breadcrumb-main">
            <li class="breadcrumb-item"> پرداخت گروهی</li>
            <li class="breadcrumb-item active"></li>
        </ol>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-block">

                        <div class="card-text">
                            {#    <div dir="rtl" class="main-content">#}
                            {#        <div class="container-fluid">#}
                            {##}
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        لیست پرداخت
                                    </h3>
                                </div>
                                <div class="panel-body table-container">
{#                                    <a class="btn pink waves-effect waves-light"#}
{#                                       href={% url 'manageradd' slug=slug pk=pk %}>افزدون مدیر</a>#}
                                    {##}
                                    <table class=" table table-bordered table-hover" id="example3">
                                        <thead>
                                        <tr>
                                            <th>مبلع قابل پرداخت</th><th></th><th>کاربر</th>
                                        </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div></div></section>
            <script type="text/javascript" src="{% static 'plugins/jQuery/jQuery-2.1.4.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'plugins/datatables/jquery.dataTables.js' %}"></script>
            {#<script type="text/javascript" src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>#}
            <!--Material Design Bootstrap  Js Files ---->

            <script type="text/javascript" language="javascript" class="init">
                $(document).ready(function () {
                    $('#example3').DataTable({
                        "processing": true,
                        "ajax": {
                            "processing": true,
                            "url": "/payajax/",
                            "dataSrc": ""
                        },

                        "columns": [
                            {"data": "fields.totalsalary"},
                            {"data": "pk"},
                            {"data": "fields.user"},
                        ]
                    });
                });
            </script>
{% endblock %}