{% extends 'admin.html' %}

{% load staticfiles payment_tags %}
{##}
{% block content2 %}
    {% load staticfiles %}


    <section class="main-container">
        <ol class="breadcrumb breadcrumb-main">
            <li class="breadcrumb-item"> پرداخت ها</li>
            <li class="breadcrumb-item active"> جدول</li>
        </ol>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-block">

                        <div class="card-text">
                            {#    <div dir="rtl" class="main-content">#}
                            {#        <div class="container-fluid">#}
                            {##}
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        پرداخت گروهی
                                    </h3>
                                </div>
                                <p>فیلترها:</p>
                                <div class="col-md-12" style="border:solid;border-color: black;">
                                    <form method="post" id="basic_form">{% csrf_token %}
                                        <table style="width:100%;">
                                            <tr>

                                                <td style="width:15%;">

                                                    <label for="startanim">بانک:</label>

                                                    <select id="startanim" class="form-control" name="my_options1">

                                                        <option value="mellat">ملت</option>
                                                        <option value="tejarat">تجارت</option>
                                                        {#                                    <option value="{{ pro.name }}">{{ pro.name }}</option>#}

                                                    </select>

                                                </td>
                                                <td style="width:5%;"></td>
                                                <td style="width:15%;">
                                                    <label for="startanim"> وضعیت:</label>

                                                    <select id="startanim" class="form-control" name="my_options2">

                                                        <option value="all">همه</option>
                                                        <option value="True">فعال</option>
                                                        <option value="Cancel">انصراف</option>
                                                        <option value="False">غیرفعال</option>
                                                        {#                                                        <option value="all">همه</option>#}
                                                    </select>

                                                </td>
                                                <td style="width:5%;"></td>
                                                <td style="width:15%;">
                                                    <label for="startanim">گروه:</label>

                                                    <select id="startanim" class="form-control" name="my_options3">

                                                        <option value="all">همه</option>
                                                        <option value="institute">کانون</option>
                                                        <option value="driver">راننده</option>
                                                        <option value="manager">مدیر</option>
                                                        <option value="manager service">مدیر سرویس</option>


                                                    </select>
                                                </td>
                                            </tr>
                                        </table>


                                        <button class="btn btn-small btn-primary" type="submit" name="message_frm"
                                                value="ثبت">ثبت
                                        </button>
                                        {#                                <button class="btn btn-primary" value="select" type="submit" name="select" >ثبت</button>#}
                                        <a href="{% url 'main' %}" class="btn pink">انصراف</a>

                                    </form>
                                </div>
                                <div class="panel-body table-container">
                                    <form method="post" id="basic_form">{% csrf_token %}
                                        <label>کارمزد: </label><input style="width: 20%" type="text" name="">
                                        <button onclick="myFunction()" class="btn btn-small btn-success" type="submit"
                                                value="ثبت"
                                                name="message_frm2"> پرداخت انتخابی
                                        </button>
                                        <a onclick="myFunction()" class="btn btn-small btn-danger"
                                           href="{% url 'transferfund' slug=slug %}">پرداخت
                                            همه
                                        </a>
                                        <a class="btn btn-small orange" href="{% url 'transferfundcancel' slug=slug %}">لغو
                                            همه</a>
                                        <a class="btn btn-small purple" href="{% url 'paymentconfirm' slug=slug %}">ثبت نهایی
                                            همه</a>
                                        {#                                    <a class="btn pink waves-effect waves-light" href="/export_list/">گرفتن گزارش excel</a>#}
                                        {##}
                                        {#                    <table class="table table-striped">#}
                                        <table align="center" id="example1" class=" table table-bordered table-hover">
                                            <thead>
                                            <tr>
                                                <th></th>
                                                <th style="text-align: center">#</th>
                                                <th style="text-align: center">
                                                    نام
                                                </th>
                                                <th style="text-align: center">
                                                    نقش
                                                </th>
                                                <th style="text-align: center">
                                                    وضعیت
                                                </th>
                                                <th style="text-align: center">
                                                    هزینه
                                                </th>
                                                <th style="text-align: center">
                                                    وضعیت مالی
                                                </th>
                                                {#                                            <th style="text-align: center">#}
                                                {#                                                مالی#}
                                                {#                                            </th>#}
                                                {#                                            <th>#}
                                                {#                                                چاپ گزارش#}
                                                {#                                            </th>#}

                                            </tr>
                                            </thead>

                                            <tbody>
                                            {% for pro in profile %}
                                                <tr style="background-color: {% if payment.success %}#c5f5cc{% endif %}">
                                                    <td style="zoom:0.75"><input style="font-size: 6px !important;"
                                                                                 type="checkbox" id="{{ pro.0.pk }}"
                                                                                 value="{{ pro.0.pk }},{% if pro.0.name %}institute{% endif %}{% if pro.0.role %}{{ pro.0.role }}{% endif %}"
                                                                                 name="sclid"><label
                                                            for="{{ pro.0.pk }}"></label></td>
                                                    <td style="text-align: center">{{ forloop.counter }}</td>
                                                    <td align="center" style="text-align: center !important;">
                                                        <center> {% if pro.0.user.first_name %}
                                                            <label>{{ pro.0.user.first_name }} {{ pro.0.user.last_name }}</label>
                                                            <br/><label>({{ pro.0.user.username }})</label> {% endif %}
                                                            {% if pro.0.name %}
                                                                <label>{{ pro.0.name }}</label>{% endif %}</center>
                                                    </td>
                                                    <td style="text-align: center">

                                                        {% if pro.0.role == "manager" %}
                                                            مدیر
                                                        {% endif %}
                                                        {% if pro.0.role == "manager service" %}
                                                            مدیر سرویس
                                                        {% endif %}
                                                        {% if pro.0.role == "driver" %}
                                                            راننده
                                                        {% endif %}
                                                        {% if not pro.0.role %}
                                                            کانون
                                                        {% endif %}


                                                    </td>
                                                    <td style="text-align: center">
                                                        {% if pro.0.state == "True" %}
                                                            فعال
                                                        {% endif %}
                                                        {% if pro.0.state == "Cancel" %}
                                                            انصراف
                                                        {% endif %}
                                                        {% if pro.0.state == "False" %}
                                                            غیر فعال
                                                        {% endif %}
                                                        {% if pro.0.status == True %}
                                                            فعال
                                                        {% endif %}
                                                        {% if pro.0.status == False %}
                                                            غیر فعال
                                                        {% endif %}
                                                    </td>
                                                    <td style="text-align: center">
                                                        {{ pro.1 }}
                                                    </td>
                                                    <td style="text-align: center">
                                                        {% if pro.2 == "بررسی پرداخت" %}
                                                            {% if pro.0.role %}
                                                                <a href="{% url 'transferfundcancelone' slug=slug  pk=pro.0.pk slug2='any' %}"><i
                                                                        class="fa fa-trash"
                                                                        aria-hidden="true"></i></a>
                                                                <a class="btn btn-cyan" href="

                                                                        {% url 'payconfirmone' slug=slug pk=pro.0.pk slug2='any' %}">{{ pro.2 }}</a>
                                                            {% else %}
                                                                <a href="{% url 'transferfundcancelone' slug=slug  pk=pro.0.pk slug2='institute' %}"><i
                                                                        class="fa fa-trash"
                                                                        aria-hidden="true"></i></a>
                                                                <a class="btn btn-cyan"
                                                                   href="
                                                                           {% url 'payconfirmone' slug=slug pk=pro.0.pk slug2='institute' %}">{{ pro.2 }}</a>
                                                            {% endif %}

                                                        {% else %}
                                                            {{ pro.2 }}{% endif %}
                                                    </td>
                                                    {#                                                <td>#}
                                                    {#                                                    {% if not pro.0.name %}#}
                                                    {#                                                    <a class="btn btn-danger"#}
                                                    {#                                                       href="{% url 'calclist' pk=pro.0.pk slug=slug type='manager' %}">مالی</a>#}
                                                    {#                                                    {'ma'}#}
                                                    {#                                                </td>#}
                                                    {#                                                <td>#}
                                                    {#                                                    <a class="btn btn-success"#}
                                                    {#                                                       href="{% url 'accountfactor' pk=pro.0.pk slug=slug %}">نمایش</a>#}
                                                    {#                                                </td>#}


                                                </tr>
                                            {% endfor %}

                                        </table>


                                    </form>


                                </div>
                            </div>
                        </div>
                        <script type="text/javascript" src="{% static 'plugins/jQuery/jQuery-2.1.4.min.js' %}"></script>
                        <script type="text/javascript"
                                src="{% static 'plugins/datatables/jquery.dataTables.js' %}"></script>

                        {#                        <script type="text/javascript" src="{% static 'includes/mdb/js/bootstrap.min.js' %}"></script>#}
                        {#                        <script type="text/javascript" src="{% static 'includes/mdb/js/mdb.min.js' %}"></script>#}
                        {##}
                        {##}
                        {#                        <!------ Theme Script --->#}
                        {#                        <script type="text/javascript" src="{% static 'includes/js/admin.js' %}"></script>#}


                    </div>
                </div>

            </div>
        </div>
    </section>
    <script>$(document).ready(function () {
        {% if messages %} alert(

            {% for message in messages %}
                {{ message }}
            {% endfor %}

        ){% endif %}
    })</script>
    <script>
        function myFunction() {
            setTimeout(function () {
                location.reload()
            }, 3000);
        }
    </script>
    <script>$(document).ready(function () {
        $('#datatabletest').DataTable({
            "language": {
                "lengthMenu": "نمایش _MENU_ در هر صفحه ",
                "zeroRecords": "سطری یافت نشد !",
                "info": "نمایش صفحه _PAGE_ از _PAGES_ صفحه",
                "infoEmpty": "هیچ رکوردی موجود نیست.",
                "infoFiltered": "(فیلتر شده از تعداد  کل  _MAX_  رکورد)",
                "decimal": ".",
                "thousands": ",",
                "emptyTable": "داده ای در جدول برای دسترسی وجود ندارد.",
                "infoPostFix": "",
                "loadingRecords": "در حال بار گزاری...",
                "processing": "در حال پردازش...",
                "search": "جستجو:",
                "paginate": {
                    "first": "اولین",
                    "last": "آخرین",
                    "next": "بعدی",
                    "previous": "قبلی"
                },
                "aria": {
                    "sortAscending": ": برای نمایش صعودی ستون ها فعال کنید",
                    "sortDescending": ": برای نمایش نزولی ستون ها فعال کنید"
                }
            },

            columnDefs: [{
                orderable: false,
                className: 'select-checkbox',
                targets: 0
            }],
            select: {
                style: 'os',
                selector: 'td:first-child'
            },
            order: [[1, 'asc']]
        });
    });</script>
{% endblock %}
