{% extends 'admin2.html' %}
{% block content2 %}
    {% load staticfiles %}
    <!--- Navbar ----->
{#    <nav class="navbar navbar-dark top-nav">#}
{#        <div class="nav-icon">#}
{#            <p class="text-center white-text" style="line-height: 55px;">#}
{#                پارسیان گشت ایثار </p>#}
{#        </div>#}
{#        <div class="nav-list">#}
{#            <ul class="nav pull-right">#}
{##}
                {#                <li class="nav-item active waves-effect waves-light">#}
                {#                    <a href="javascript:;" id="close-menu" class="nav-link"><i class="fa fa-bars"></i></a>#}
                {#                </li>#}
{#                <li class="nav-item active hidden-md-down waves-effect waves-light">#}
{#                    <a href="javascript:;" class="nav-link left-sidebar-trigger" data-mainelement="#colorlist"><i#}
{#                            class="fa fa-cogs"></i></a>#}
{#                </li>#}
{#                 <a href="/logout"  style="position:absolute; left:80px; top:8px;" class="btn pull-left waves-effect red white-text "><i class="fa fa-power-off"></i></a>#}
{#            </ul>#}
{#        </div>#}
{##}
{#    </nav>#}
{##}
{#    <!----- Main SideBar ------>#}
{##}
{##}
{#    <!----- Left SideBar ( Color List ) ------>#}
{#    <aside class="left-sidebar white" id="colorlist" style="    overflow-y: auto;">#}
{#        <ul class="list-group z-depth-0">#}
{#            <li class="list-group-item  waves-effect text-right" data-color="red-theme">#}
{#                <span class="red color-box border-r-3 z-depth-1"></span>#}
{#                قرمز#}
{#            </li>#}
{#            <li class="list-group-item waves-effect text-right" data-color="pink-theme">#}
{#                <span class="pink color-box border-r-3 z-depth-1"></span>#}
{#                صورتی#}
{#            </li>#}
{#            <li class="list-group-item waves-effect text-right" data-color="purple-theme">#}
{#                <span class="purple color-box border-r-3 z-depth-1"></span>#}
{#                بنفش#}
{#            </li>#}
{#            <li class="list-group-item waves-effect text-right" data-color="dark-purple-theme">#}
{#                <span class="deep-purple color-box border-r-3 z-depth-1"></span>#}
{#                بنفش پررنگ#}
{#            </li>#}
{#            <li class="list-group-item waves-effect text-right" data-color="indigo-theme">#}
{#                <span class="indigo color-box border-r-3 z-depth-1"></span>#}
{#                نیلی#}
{#            </li>#}
{#            <li class="list-group-item active waves-effect text-right" data-color="blue-theme">#}
{#                <span class="blue color-box border-r-3 z-depth-1"></span>#}
{#                آبی#}
{#            </li>#}
{#            <li class="list-group-item waves-effect text-right" data-color="light-blue-theme">#}
{#                <span class="light-blue color-box border-r-3 z-depth-1"></span>#}
{#                آبی روشن#}
{#            </li>#}
{#            <li class="list-group-item  waves-effect text-right" data-color="cyan-theme">#}
{#                <span class="cyan color-box border-r-3 z-depth-1"></span>#}
{#                فیروزه ای#}
{#            </li>#}
{#            <li class="list-group-item waves-effect text-right" data-color="teal-theme">#}
{#                <span class="teal color-box border-r-3 z-depth-1"></span>#}
{#                سبز خاکستری#}
{#            </li>#}
{#            <li class="list-group-item waves-effect text-right" data-color="green-theme">#}
{#                <span class="green color-box border-r-3 z-depth-1"></span>#}
{#                سبز#}
{#            </li>#}
{#            <li class="list-group-item waves-effect text-right" data-color="light-green-theme">#}
{#                <span class="light-green color-box border-r-3 z-depth-1"></span>#}
{#                سبز روشن#}
{#            </li>#}
{#            <li class="list-group-item waves-effect text-right" data-color="lime-theme">#}
{#                <span class="lime color-box border-r-3 z-depth-1"></span>#}
{#                لیمویی#}
{#            </li>#}
{#            <li class="list-group-item waves-effect text-right" data-color="yellow-theme">#}
{#                <span class="yellow color-box border-r-3 z-depth-1"></span>#}
{#                زرد#}
{#            </li>#}
{#            <li class="list-group-item waves-effect text-right" data-color="amber-theme">#}
{#                <span class="amber color-box border-r-3 z-depth-1"></span>#}
{#                کهربایی#}
{#            </li>#}
{#            <li class="list-group-item waves-effect text-right" data-color="orange-theme">#}
{#                <span class="orange color-box border-r-3 z-depth-1"></span>#}
{#                نارنجی#}
{#            </li>#}
{#            <li class="list-group-item waves-effect text-right" data-color="dark-orange-theme">#}
{#                <span class="deep-orange color-box border-r-3 z-depth-1"></span>#}
{#                نارنجی پررنگ#}
{#            </li>#}
{#            <li class="list-group-item waves-effect text-right" data-color="brown-theme">#}
{#                <span class="brown color-box border-r-3 z-depth-1"></span>#}
{#                قهوه ای#}
{#            </li>#}
{#            <li class="list-group-item waves-effect text-right" data-color="grey-theme">#}
{#                <span class="grey color-box border-r-3 z-depth-1"></span>#}
{#                خاکستری#}
{#            </li>#}
{#            <li class="list-group-item waves-effect text-right" data-color="blue-grey-theme">#}
{#                <span class="blue-grey color-box border-r-3 z-depth-1"></span>#}
{#                آبی خاکستری#}
{#            </li>#}
{#        </ul>#}
{#    </aside>#}

    <!---- Container ----->
    <section class="main-container">
        <ol class="breadcrumb breadcrumb-main">
            <li class="breadcrumb-item">پروفایل</li>
            <li class="breadcrumb-item active">پروفایل مدیران اجرایی</li>
        </ol>

{#        <div class="row">#}
{#            <div class="col-lg-3 col-md-4 col-sm-12">#}
{#                <div class="widget-float cyan">#}
{#                    <div class="widget-float-panel">#}
{#                        <div class="widget-float-icon">#}
{#                            <i class="fa fa-eye"></i>#}
{#                        </div>#}
{#                        <div class="widget-float-info">#}
{#                            <p class="widget-float-title">#}
{##}
{#                            </p>#}
{#                            <p class="widget-float-value">#}
{#                            <a style="color:white" href="{% url 'driverprofile' pk=pk %}">پروفایل</a>#}
{#                            </p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
    <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="widget-float">
                    <div class="widget-float-panel white">
                        <div class="widget-float-icon red">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="widget-float-info  grey-text text-darken-3">
                            <p class="widget-float-title">
                                لیست
                            </p>
                            <p class="widget-float-value">
                            <a style="color:black" href="{% url 'selectmanagerdri' pk=pk  %}">مدیر سرویس</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="widget-float">
                    <div class="widget-float-panel white">
                        <div class="widget-float-icon green">
                            <i class="fa fa-money"></i>
                        </div>
                        <div class="widget-float-info  grey-text text-darken-3">
                            <p class="widget-float-title">

                            </p>
                            <p class="widget-float-value">
                            <a style="color:black" href="{% url 'selecttermfactor' pk=pk  %}">مالی</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
{#    <div class="col-lg-3 col-md-4 col-sm-12">#}
{#                <div class="widget-float">#}
{#                    <div class="widget-float-panel white">#}
{#                        <div class="widget-float-icon deep-orange-text">#}
{#                            <i class="fa fa-book"></i>#}
{#                        </div>#}
{#                        <div class="widget-float-info grey-text text-darken-3">#}
{#                            <p class="widget-float-title">#}
{#                                تاریخچه ثبت نام ها#}
{#                            </p>#}
{#                            <p class="widget-float-value">#}
{##}
{#                            </p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            </div>#}
    </section>

{% endblock %}