{% extends 'base.html' %}
{% load staticfiles payment_tags %}


{% block content %}

    <div class="main-content">
        <div class="container-fluid">

            {% if not status %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <i class="fa fa-times-circle"></i> {{ message }}
                </div>
            {% endif %}


            <div class="row">
{#                <div class="col-lg-12 col-md-12">#}
{##}
{#                    <div class="panel">#}
{#                        <div class="panel-body" align="center">#}
{#                        <section class="container">#}


            <div class="col-lg-6 pull-lg-3 col-sm-12 col-md-8 pull-md-2">
                <center>
                </center>
                <div class="card " style="background:rgba(255,255,255,0.5);">
                    <div class="card-block" align="center">


                            {% if status %}

                                <p style="text-align: center">
                                تراکنش با موفقیت انجام شد.
                                </p><br>
                                 <div class="text-center">
                                    <label>
                                        مشخصات:
                                    </label>
                                {% if payment_transaction.user.first_name %}
                                                        {{ payment_transaction.user.first_name }} {{ payment_transaction.user.last_name }}{% endif %}
                                 </div>
                                <div class="text-center">
                                    <label>
                                        هزینه پرداختی:
                                    </label>
                                {{ payment_transaction.amount }}
                                 </div>



                                <div class="text-center">

                                    <label>
                                        شماره پیگیری:
                                    </label>
                                    {{ payment_transaction.SaleReferenceId }}
                                </div>
                                    <a class="btn btn-primary" href="/">بازگشت</a>

                            {% else %}

                                <p style="text-align: center">
                                خطا در برقراری ارتباط. لطفا دوباره تلاش کنید.
                                </p>

                                 <a class="btn btn-primary" href="/">بازگشت</a>
                                <a class="btn btn-danger" onClick="window.print()">پرینت</a>

                            {% endif %}

                        </div>
                    </div>



                </div><!-- end .col -->

            </div><!-- end .row -->


        </div>
    </div>

{% endblock %}
