{% extends 'admin.html' %}
{% load jformat %}

{% load staticfiles payment_tags %}
{##}
{% block content2 %}
    {% load staticfiles %}


    <section class="main-container">
        <ol class="breadcrumb breadcrumb-main">
            <li class="breadcrumb-item"> پرداخت ها</li>
            <li class="breadcrumb-item active"> جدول</li>
        </ol>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-block">

                        <div class="card-text">
                            {#    <div dir="rtl" class="main-content">#}
                            {#        <div class="container-fluid">#}
                            {##}
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        گزارش گیری
                                    </h3>
                                </div>
                                <div class="panel-body">

                                </div>
                            </div>
                        </div>


                        {#                        <!--- JQuery (necessary File) --->#}
                        <script type="text/javascript" src="{% static 'plugins/jQuery/jQuery-2.1.4.min.js' %}"></script>

                        <!--Material Design Bootstrap  Js Files ---->
{#                        <script type="text/javascript" src="{% static 'includes/mdb/js/tether.min.js' %}"></script>#}

{#                        <script type="text/javascript" src="{% static 'includes/mdb/js/bootstrap.min.js' %}"></script>#}
{#                        <script type="text/javascript" src="{% static 'includes/mdb/js/mdb.min.js' %}"></script>#}


                        <!------ Theme Script --->
{#                        <script type="text/javascript" src="{% static 'includes/js/admin.js' %}"></script>#}


                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}
