{% extends 'admin.html' %}
{% load jformat %}

{% load staticfiles payment_tags %}
{##}
{% block content2 %}
    {% load staticfiles %}


    <section class="main-container">
        <ol class="breadcrumb breadcrumb-main">
            <li class="breadcrumb-item"> پرداخت ها</li>
            <li class="breadcrumb-item active"> جدول</li>
        </ol>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-block">

                        <div class="card-text">
                            {#    <div dir="rtl" class="main-content">#}
                            {#        <div class="container-fluid">#}
                            {##}
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        لیست تبادلات اینترنتی انجام شده توسط کاربران
                                    </h3>
                                </div>
                                <div class=" panel-body col-md-12 col-xs-12">
                                    {##}
                                    {#                    <table class="table table-striped">#}
                                    <form method="POST">{% csrf_token %}
                                    <div class="col-md-3">
                                        <label>از تاریخ</label>
                                    <input type="text"  class="locale-en example2" name="startdate" value="startdate"/>
                                    </div>
                                    <div class="col-md-3">
                                        <label>تا تاریخ</label>
                                    <input type="text"  class="locale-en example2" name="enddate" value="enddate"/>
                                    </div>
                                    <button class="btn orange" type = "submit" >اعمال فیلتر </button>
                                    <a class="btn pink" href="{% url 'report_list' %}">گرفتن گزارش excel</a>
                                    </form>
                                    <br/>
                                    <br/>
                                    <br/>

                                    <div class="table-container">
                                    <table id="example1" class="table table-bordered table-hover">

                                        <thead>
                                        <tr>
                                            <th style="text-align: center">#</th>
                                            <th style="text-align: center">
                                                مشخصات کاربر
                                            </th>
                                            <th style="text-align: center">
                                                هزینه پرداخت شده
                                            </th>
                                            <th style="text-align: center">
                                                تراکنش موفق
                                            </th>
                                            <th style="text-align: center">
                                                وضعیت تراکنش
                                            </th>
                                            <th style="text-align: center">
                                                تاریخ پرداخت
                                            </th>
                                            <th style="text-align: center">
                                                مشخصات تراکنش
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for payment in payments %}
                                            <tr style="background-color: {% if payment.success %}#c5f5cc{% endif %}">
                                                <td style="text-align: center">{{ forloop.counter }}</td>
                                                <td style="text-align: center">
                                                    {% if payment.user.first_name %}
                                                        <label>{{ payment.user.first_name }} {{ payment.user.last_name }}</label>{% endif %}
                                                    <p>({{ payment.user.username }})</p>
                                                </td>
                                                <td style="text-align: center">{{ payment.amount }}</td>
                                                <td style="text-align: center">{{ payment.success }}

                                                </td>
                                                <td style="text-align: center">{% if not payment.success %}
                                                    {{ payment.error_description }}{% else %}
                                                    پرداخت با موفقیت انجام شد.
                                                {% endif %}</td>
                                                <td style="text-align: center">{{ payment.transaction_date |jformat:"%Y/%m/%d " }}</td>
                                                <td style="text-align: left" dir="ltr">
                                                    {% if payment.RefId %}<label>RefId: </label>
                                                        {{ payment.RefId }}{% endif %}
                                                    {% if payment.SaleReferenceId %}
                                                        <p><b>SaleRefId:</b> {{ payment.SaleReferenceId }}
                                                        </p>{% endif %}
                                                    {% if payment.order_id %}
                                                        <p><b>Order ID:</b> {{ payment.order_id }}</p>{% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                    </div>
                                </div>
                            </div>
                        </div>


                        {#                        <!--- JQuery (necessary File) --->#}
{#                        <script type="text/javascript" src="{% static 'plugins/jQuery/jQuery-2.1.4.min.js' %}"></script>#}
                        <script src="{% static 'plugins/jQuery/js/persian-date.min.js' %}"></script>
                        <script src="{% static 'plugins/jQuery/js/persian-datepicker.js' %}"></script>

                        {#                        <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>#}
                        <!--Material Design Bootstrap  Js Files ---->
                        {#                        <script type="text/javascript" src="{% static 'includes/mdb/js/tether.min.js' %}"></script>#}

                        {#                        <script type="text/javascript" src="{% static 'includes/mdb/js/bootstrap.min.js' %}"></script>#}
                        {#                        <script type="text/javascript" src="{% static 'includes/mdb/js/mdb.min.js' %}"></script>#}


                        <!------ Theme Script --->
                        {#                        <script type="text/javascript" src="{% static 'includes/js/admin.js' %}"></script>#}


                    </div>
                </div>

            </div>
        </div>
    </section>
{#    <script>$.fn.dataTable.ext.search.push(#}
{#        function (settings, data, dataIndex) {#}
{#            var min = Date.parse($('#min').val())*-1;#}
            {#console.log(min)#}
{#            var max = Date.parse($('#max').val(),10)*-1;#}
            {#console.log(max)#}
{#            var age = Date.parse(data[5])*-1 || 0;// use data for the age column#}
{#            console.log(age)#}
{#            if ((isNaN(min) && isNaN(max)) ||#}
{#                (isNaN(min) && age <= max) ||#}
{#                (min <= age && isNaN(max)) ||#}
{#                (min <= age && age <= max)) {#}
{#                return true;#}
{#            }#}
{#            return false;#}
{#        }#}
{#    );#}
{##}
{#    $(document).ready(function () {#}
{#        var table = $('#example2').DataTable();#}
{##}
{#        // Event listener to the two range filtering inputs to redraw on input#}
{#        $('#min, #max').keyup(function () {#}
{#            table.draw();#}
{#        });#}
{#    });</script>#}
    <script type="text/javascript">
  $(document).ready(function() {
    $(".example2").pDatepicker({
        format: 'YYYY/MM/DD',
      });
  });
</script>

{% endblock %}
